<ion-header>
  <ion-toolbar style="--background: #707072;">
    <ion-title mode="ios" style="color: white;
    font-size: 15px;">
      BLOG
      <ion-icon name="search" class="top-search-icon"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <div style="margin-top: 15px;">

        <div>
          <img src="../../assets/icon/blog/bicycle-downhill-sunset.jpg" alt="">
        </div>

      <div>
        <ion-item lines="none">
          <ion-avatar class="top-person-img">
            <img src="../../assets/icon/blog/1.jpg" alt="">
          </ion-avatar>
          <ion-label class="person-name-text">James Albert</ion-label>
          <p slot="end" class="item-end-text">
            <img src="../../assets/icon/blog-detail/2.png" alt="" class="img-icons">
            2 days ago</p>
          </ion-item>
          <ion-item lines="none">
            <p class="item-end-text">
              <img src="../../assets/icon/blog/2.png" alt="" class="img-icons">
              10k</p>
            <p class="item-end-text" style="margin-left: 15px;">
              <img src="../../assets/icon/blog/2.png" alt="" class="img-icons">
              100k</p>
            <img src="../../assets/icon/blog/2.png" alt="" class="img-icons" slot="end">
          </ion-item>
      </div>

      <div style="padding: 10px;">
        <h5>Holiday to Alpine</h5>
        <p class="middle-container-content">
          Contrary to popular belief, Lorem 
          Ipsum is not simply random text. 
          It has roots in a piece of classical
           Latin literature from 45 BC, making 
           it over 2000 years old. Richard 
           McClintock, a Latin professor at 
           Hampden-Sydney College in Virginia, 
           looked up one of the more obscure 
           Latin words, consectetur, from a 
           Lorem Ipsum passage, and going 
           through the cites of the word in 
           classical literature, discovered 
           the undoubtable source. Lorem Ipsum 
           comes from sections 1.10.32 and 
           1.10.33 of "de Finibus Bonorum et 
           Malorum" (The Extremes of Good and Evil) 
           by Cicero, written in 45 BC. This book 
           is a treatise on the theory of ethics, 
           very popular during the Renaissance. 
           The first line of Lorem Ipsum, "Lorem ipsum 
           dolor sit amet..", comes from a line in 
           section 1.10.32.
          The standard chunk of Lorem Ipsum used 
          since the 1500s is reproduced below for 
          those interested. Sections 1.10.32 and 
          1.10.33 from "de Finibus Bonorum et Malorum" 
          by Cicero are also reproduced in their 
          exact original form, accompanied by English 
          versions from the 1914 translation by H.Rackham.
        </p>
      </div>
      </div>

    </ion-row>
  </ion-grid>

</ion-content>