.top-search-icon{
    position: absolute;
    right: 30px;
    color: white;
    font-size: 1.5rem;
}
.top-person-img{
    border: 3px solid white;
    margin-right: 5px;
}
h5{
    font-weight: 700;
}
.middle-container-content{
    line-height: 20px;
    font-size: 13px;
    color: grey;
}
.person-name-text{
    font-size: 14px;
    font-weight: 600;
}
ion-item{
    --background: #f9f9f9;
}
.item-end-text{
    font-size: 12px;
    color: grey;
}
.img-icons{
    height: 20px;
    width: 23px;
    margin-right: 5px;
}
