.div-left{
    // border: 1px solid;
    box-shadow: 0px 0px 0px 2px lightgrey;
    height: 85px;
    margin-bottom: 15px;
}

// .div-left + .div-left{
//     margin-bottom: 13px;
// }

// .div-left:nth-child(even){
//     margin-left: 13px;
// }

// .div-right{
//     background: red;
//     height: 85px;
// }

// .div-right + .div-right{
//     margin-bottom: 13px;
// }

// .div-right:nth-child(even){
//     margin-left: 13px;
// }