<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab6" style="color: white" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>FAQs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Outermost Container -->

  <div style="margin-top: 15px;">

    <!-- Heading -->
    
    <div class="heading">WHAT DO YOU WANT TO KNOW</div>

    <!-- Heading Ends -->

    <!-- FAQ Section -->

    <div style="position: relative; margin-top: 25px;">

      <div class="box" style="position: absolute; left: 25px; background-color: #f21908">About iMatch</div>
      <div class="box" style="position: absolute; right: 25px; background-color: #fcbb3b;">iMatch Rules</div>
        <div style="position: absolute; border-top: 2.5px solid #707072; width: 15px; left: 139.5px; top: 44px;"></div>
        <div style="position: absolute; border-left: 2.5px solid #707072; height: 63px; left: 153.5px; top: 44px;"></div>
        <div style="position: absolute; border-left: 2.5px solid #707072; height: 13px; right: 77px; top: 75px;"></div>
        <span class="dot" style="left: 150px; top: 88px;"></span>
        <span class="dot" style="right: 74px; top: 87px;"></span>
     
      <div class="box" style="position: absolute; left: 70px; top: 95px; background-color: #707072; padding-top: 17px; padding-left: 2px;">How to Participate</div>
      <div class="box" style="position: absolute; right: 25px; top: 95px; background-color: #f21908; padding-top: 17px; padding-left: 2px;">Subscription Details</div>
        <div style="position: absolute; border-left: 2.5px solid #707072; height: 132px; left: 54.5px; top: 75px;"></div>
        <div style="position: absolute; border-left: 2.5px solid #707072; height: 54px; right: 162px; top: 133px;"></div>
        <div style="position: absolute; border-top: 2.5px solid #707072; width: 100px; right: 164px; top: 133px;"></div>
        <span class="dot" style="left: 52px; top: 187px;"></span>
        <span class="dot" style="right: 159px; top: 187px;"></span>
      
      <div class="box" style="position: absolute; left: 25px; top: 195px; background-color: #fcbb3b; padding-top: 17px; padding-left: 2px;">Subscription Details</div>
      <div class="box" style="position: absolute; right: 80px; top: 195px; background-color: black; padding-top: 17px; padding-left: 2px;">Terms and Services</div>
        <div style="position: absolute; border-left: 2.5px solid #707072; height: 22px; left: 77.5px; top: 270px;"></div>
        <div style="position: absolute; border-left: 2.5px solid #707072; height: 22px; right: 102px; top: 270px;"></div> 
        <span class="dot" style="left: 75px; top: 282px;"></span>
        <span class="dot" style="right: 100px; top: 282px;"></span>
      <div class="box" style="position: absolute; left: 25px; top: 290px; background-color: #707072; padding-top: 17px; padding-left: 2px;">Benefits of Winners</div>
      <div class="box" style="position: absolute; right: 25px; top: 290px; background-color: #f21908;">Winners</div>
        <div style="position: absolute; border-top: 2.5px solid #707072; width: 100px; left: 93px; top: 326px;"></div>
        <div style="position: absolute; border-left: 2.5px solid #707072; height: 65px; left: 190px; top: 328px;"></div>
        <span class="dot" style="left: 187px; top: 382px;"></span>
      <div class="box" style="position: absolute; left: 28%; top: 390px; background-color: black; padding-top: 17px; padding-left: 2px; width: 150px;">How to apply for promotion code</div>

      <!-- Input Section -->

      <div>
        <ion-input placeholder="Please Enter Your Questions Here" type="text" class="input-box"></ion-input>
      </div>

      <!-- Input Section Ends -->
      
    </div>

    <!-- FAQ Section Ends -->

    
  </div>

  <!-- Outermost Container Ends -->

</ion-content>
