<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="this.userDetails.category=='personal'" style="position: relative;right: 25px;">PERSONAL MATCH</ion-title>
    <ion-title *ngIf="this.userDetails.category=='closed'" style="position: relative;right: 25px;">CLOSED MATCH</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="top-icons-container">
    <ion-row>
      <ion-col class="col-icon" (click)="IconCategorize('image')">
        <img src="../../assets/icon/img.png" alt="" style="height: 17px;width: 15px;">
      </ion-col>

      <ion-col class="col-icon" (click)="IconCategorize('video')">
        <img src="../../assets/icon/vid.png" alt="" style="height: 17px;width: 15px;">
      </ion-col>

      <ion-col class="col-icon" (click)="IconCategorize('audio')">
        <img src="../../assets/icon/aud.png" alt="" style="height: 17px;width: 15px;">      
      </ion-col>

      <ion-col class="col-icon" (click)="IconCategorize('attachment')">
        <img src="../../assets/icon/attach.png" alt="" style="height: 17px;width: 15px;">
      </ion-col>

      <ion-col style="border: 1px solid #bebebf; border-radius: 5px;" (click)="IconCategorize('link')">
        <img src="../../assets/icon/link.png" alt="" style="height: 17px;width: 15px;">
      </ion-col>
    </ion-row>
  </div>

  <ion-slides pager="true" #slides style="padding: 15px;">

    <!-- slide starts here -->
    
    <ion-slide *ngFor="let match of PersonalMatch; let i = index" class="animate__animated animate__flipInY">
      <div *ngIf="this.userDetails.category == 'personal'">
        <div style=" margin: 10px;box-shadow: 1px 1px 10px 0px;padding: 5px 5px 30px 5px;margin-top: 0px !important;border-radius: 3px; border-top: 2px solid #80808078 ; margin-bottom: 50px;">
      
          <div style="flex:1">
            <div *ngIf="match.compare_data.length == 2">
              <div style="display: grid; grid-template-columns: 1fr 1fr;">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <ion-img-viewer 
                    *ngIf="match.compare_data[0].media_type==='image' || match.compare_data[0].media_type===''"
                    scheme="dark" 
                    [src]="match.compare_data[0].media"
                    style="width: 150px;min-height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    <!-- <img *ngIf="match.compare_data[0].image_type==='image' || match.compare_data[0].image_type===''" [src]="match.compare_data[0].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; min-height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-textarea *ngIf="match.compare_data[0].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px;width: 150px;min-height: 90px; border-radius: 7px;">{{match.compare_data[0].media}}</ion-textarea>
                    <video *ngIf="match.compare_data[0].media_type==='video'" [src]="match.compare_data[0].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="match.compare_data[0].media_type==='audio'" [src]="match.compare_data[0].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="match.compare_data[0].media_type==='link'" style="width: 150px;min-height: 90px; border-radius: 7px;">
                      <a [href]="match.compare_data[0].media" style="width: 150px;height: 90px; border-radius: 7px;">{{match.compare_data[0].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[0].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[0].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[0], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[0].likecount}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <!-- <img *ngIf="match.compare_data[1].image_type==='image' || match.compare_data[1].image_type===''" [src]="match.compare_data[1].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-img-viewer 
                    *ngIf="match.compare_data[1].media_type==='image' || match.compare_data[1].media_type===''"
                    scheme="dark" 
                    [src]="match.compare_data[1].media"
                    style="width: 150px;height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    
                    
                    <ion-textarea *ngIf="match.compare_data[1].media_type==='text'" readonly class="text-match-style" autoGrow style="width: 150px;height: 90px; border-radius: 7px;">{{match.compare_data[1].media}}</ion-textarea>
                    <video *ngIf="match.compare_data[1].media_type==='video'" [src]="match.compare_data[1].image" controls style="width: 150px;height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="match.compare_data[1].media_type==='audio'" [src]="match.compare_data[1].image" controls style="width: 150px;height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="match.compare_data[1].media_type==='link'" style="width: 150px;height: 90px; border-radius: 7px;">
                    <a [href]="match.compare_data[1].media">{{match.compare_data[1].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[1].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[1].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[1], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[1].likecount}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="match.compare_data.length == 3">
              <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <!-- <img *ngIf="match.compare_data[0].image_type==='image' || match.compare_data[0].image_type===''" [src]="match.compare_data[0].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; height: 255px; width: 150px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                  <div>
                    <ion-img-viewer 
                    *ngIf="match.compare_data[0].media_type==='image' || match.compare_data[0].media_type===''"
                    scheme="dark" 
                    [src]="match.compare_data[0].media"
                    style="width: 120px;min-height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    
                    <ion-textarea *ngIf="match.compare_data[0].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px; width: 120px;min-height: 90px; border-radius: 7px;">{{match.compare_data[0].media}}</ion-textarea>
                    <video *ngIf="match.compare_data[0].media_type==='video'" [src]="match.compare_data[0].media" controls style="width: 120px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="match.compare_data[0].media_type==='audio'" [src]="match.compare_data[0].media" controls style="width: 120px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="match.compare_data[0].media_type==='link'" style="width: 120px;min-height: 90px; border-radius: 7px;">
                      <a [href]="match.compare_data[0].media">{{match.compare_data[0].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[0].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[0].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[0], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[0].likecount}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <!-- <img *ngIf="match.compare_data[1].image_type==='image' || match.compare_data[1].image_type===''" [src]="match.compare_data[1].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; height: 255px; width: 150px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                  <div>
                    <ion-img-viewer 
                    *ngIf="match.compare_data[1].media_type==='image' || match.compare_data[1].media_type===''"
                    scheme="dark" 
                    [src]="match.compare_data[1].media"
                    style="width: 120px;height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    
                    <ion-textarea *ngIf="match.compare_data[1].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px;width: 120px;min-height: 90px; border-radius: 7px;">{{match.compare_data[1].media}}</ion-textarea>
                    <video *ngIf="match.compare_data[1].media_type==='video'" [src]="match.compare_data[1].image" controls style="width: 120px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="match.compare_data[1].media_type==='audio'" [src]="match.compare_data[1].image" controls style="width: 120px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="match.compare_data[1].media_type==='link'" style="width: 120px;min-height: 90px; border-radius: 7px;">
                      <a [href]="match.compare_data[1].media">{{match.compare_data[1].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[1].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[1].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[1], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[1].likecount}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <!-- <img *ngIf="match.compare_data[2].image_type==='image' || match.compare_data[2].image_type===''" [src]="match.compare_data[2].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; height: 255px; width: 150px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                  <div>
                    <ion-img-viewer 
                    *ngIf="match.compare_data[2].media_type==='image' || match.compare_data[2].media_type===''"
                    scheme="dark" 
                    [src]="match.compare_data[2].media"
                    style="width: 120px;min-height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    
                    <ion-textarea *ngIf="match.compare_data[2].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px; width: 120px;min-height: 90px; border-radius: 7px;">{{match.compare_data[2].media}}</ion-textarea>
                    <video *ngIf="match.compare_data[2].media_type==='video'" [src]="match.compare_data[2].media" controls style="width: 120px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="match.compare_data[2].media_type==='audio'" [src]="match.compare_data[2].media" controls style="width: 120px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="match.compare_data[2].media_type==='link'" style="width: 120px;min-height: 90px; border-radius: 7px;">
                      <a [href]="match.compare_data[2].media">{{match.compare_data[2].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[1].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[2].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[2], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[2].likecount}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="match.compare_data.length == 4">
              <div style="display: grid; grid-template-columns: 1fr 1fr;">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <ion-img-viewer 
                    *ngIf="match.compare_data[0].media_type==='image' || match.compare_data[0].media_type===''"
                    scheme="dark" 
                    [src]="match.compare_data[0].media"
                    style="width: 150px;min-height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    <!-- <img *ngIf="match.compare_data[0].image_type==='image' || match.compare_data[0].image_type===''" [src]="match.compare_data[0].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; min-height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-textarea *ngIf="match.compare_data[0].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px; width: 150px;min-height: 90px; border-radius: 7px;">{{match.compare_data[0].media}}</ion-textarea>
                    <video *ngIf="match.compare_data[0].media_type==='video'" [src]="match.compare_data[0].media" controls style="min-height: 255px; width: 185px;" style="width: 150px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="match.compare_data[0].media_type==='audio'" [src]="match.compare_data[0].media" controls style="min-height: 185px; width: 165px;" style="width: 150px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="match.compare_data[0].media_type==='link'" style="width: 150px;min-height: 90px; border-radius: 7px;">
                      <a [href]="match.compare_data[0].media" style="width: 150px;height: 90px; border-radius: 7px;">{{match.compare_data[0].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[0].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[0].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[0], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[0].likecount}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <!-- <img *ngIf="match.compare_data[1].image_type==='image' || match.compare_data[1].image_type===''" [src]="match.compare_data[1].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-img-viewer 
                    *ngIf="match.compare_data[1].media_type==='image' || match.compare_data[1].media_type===''"
                    scheme="dark" 
                    [src]="match.compare_data[1].media"
                    style="width: 150px;min-height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    
                    
                    <ion-textarea *ngIf="match.compare_data[1].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px; width: 150px;min-height: 90px; border-radius: 7px;">{{match.compare_data[1].media}}</ion-textarea>
                    <video *ngIf="match.compare_data[1].media_type==='video'" [src]="match.compare_data[1].image" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="match.compare_data[1].media_type==='audio'" [src]="match.compare_data[1].image" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="match.compare_data[1].media_type==='link'" style="width: 150px;min-height: 90px; border-radius: 7px;">
                    <a [href]="match.compare_data[1].media">{{match.compare_data[1].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[1].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[1].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[1], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[1].likecount}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div style="display: grid; grid-template-columns: 1fr 1fr; margin-top: 30px;">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <ion-img-viewer 
                    *ngIf="match.compare_data[2].media_type==='image' || match.compare_data[2].media_type===''"
                    scheme="dark" 
                    [src]="match.compare_data[2].media"
                    style="width: 150px;min-height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    <!-- <img *ngIf="match.compare_data[2].image_type==='image' || match.compare_data[2].image_type===''" [src]="match.compare_data[2].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; min-height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-textarea *ngIf="match.compare_data[2].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px; margin-top:0px;width: 150px;min-height: 90px; border-radius: 7px;">{{match.compare_data[2].media}}</ion-textarea>
                    <video *ngIf="match.compare_data[2].media_type==='video'" [src]="match.compare_data[2].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="match.compare_data[2].media_type==='audio'" [src]="match.compare_data[2].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="match.compare_data[2].media_type==='link'" style="width: 150px;min-height: 90px; border-radius: 7px;">
                      <a [href]="match.compare_data[2].media" style="width: 150px;height: 90px; border-radius: 7px;">{{match.compare_data[2].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[2].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[2].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[2], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[2].likecount}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <!-- <img *ngIf="match.compare_data[1].image_type==='image' || match.compare_data[1].image_type===''" [src]="match.compare_data[1].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-img-viewer 
                    *ngIf="match.compare_data[3].media_type==='image' || match.compare_data[3].media_type===''"
                    scheme="dark" 
                    [src]="match.compare_data[3].media"
                    style="width: 150px;min-height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    
                    
                    <ion-textarea *ngIf="match.compare_data[3].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px; width: 150px;min-height: 90px; border-radius: 7px;">{{match.compare_data[3].media}}</ion-textarea>
                    <video *ngIf="match.compare_data[3].media_type==='video'" [src]="match.compare_data[3].image" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="match.compare_data[3].media_type==='audio'" [src]="match.compare_data[3].image" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="match.compare_data[3].media_type==='link'" style="width: 150px;min-height: 90px; border-radius: 7px;">
                    <a [href]="match.compare_data[3].media">{{match.compare_data[3].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[3].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[3].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[3], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[3].likecount}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div *ngFor="let item of match.compare_data; let k = index">
      
              <div style="background-color: #7070728f; padding: 5px; border-radius: 5px; margin-bottom: 15px;">
                <img *ngIf="item.image_type==='image' || item.image_type===''" [src]="item.image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)">
                <ion-textarea *ngIf="item.image_type==='text'" readonly class="text-match-style" autoGrow>{{item.image}}</ion-textarea>
                <video *ngIf="item.image_type==='video'" [src]="item.image" controls style="height: 255px; width: 185px;"></video>
                <audio *ngIf="item.image_type==='audio'" [src]="item.image" controls style="height: 185px; width: 165px;"></audio>
                <div style="width: 160px; height: auto; padding: 15px">
                <a *ngIf="item.image_type==='link' || item.image_type==='file'" [href]="item.image">{{item.image}}</a>
                </div>
      
      
                <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                  <img *ngIf="PersonalMatch[i].receiver_image_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                </p>
              </div>
      
            </div> -->
      
            <!-- <div style=" padding: 3px; "></div>
      
            <div style=" position: absolute; height: 30px; top: 20%; right: 46%; ">
              <img src="../../assets/icon/vs.png" alt="">
            </div> 
            
            <div>
      
              <div style="background-color: #7070728f; padding: 5px; border-radius: 5px; margin-bottom: 15px;">
                <img *ngIf="match.sender_image_type==='image' || match.sender_image_type===''" [src]="match.sender_image" alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; height: 255px; width: 195px;" (click)="toViewSenderMatchImage($event,match)">
                <ion-textarea *ngIf="match.sender_image_type==='text' || match.sender_image_type===''" readonly class="text-match-style" autoGrow>{{match.sender_image}}</ion-textarea>
                <video *ngIf="match.sender_image_type==='video'" [src]="match.sender_image" controls style="height: 255px; width: 185px;"></video>
                <audio *ngIf="match.sender_image_type==='audio'" [src]="match.sender_image" controls style="height: 185px; width: 165px;"></audio>
                <div style="width: 160px; height: auto; padding: 15px">
                  <a *ngIf="match.sender_image_type==='link' || match.sender_image_type==='' || match.sender_image_type==='file'" [href]="match.sender_image">{{match.sender_image}}</a>
                </div>
      
      
                <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'sender')" style="margin: 0; font-size: 14px;"> 
                  <img *ngIf="PersonalMatch[i].sender_image_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                </p>
              </div>
      
            </div> -->
      
          </div>
      
          <div>
      
            <div style="position: relative; bottom: 6%; margin-top: 30px;">
              <img [src]="match.compare_data[0].profile" alt="" onerror="this.src='../../assets/icon/no_media.png';" style="border-radius: 50%; height: 40px; width: 40px; border: 1px solid;">
              <p style=" font-size: 14px; margin: 0px; font-weight: 600; position: relative;">{{match.compare_data[0].name}}</p>
      
              <h3> {{match.caption}} </h3>
            </div>
      
          </div>
      
          <!-- <div style="display: flex;position: relative;left: 10%;">
      
            <div (click)="ToSendReceiverLike($event,match)">
              <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
              <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.receiver_likecount}}</span>
            </div>
      
            <div style="position: relative;left: 40%;" (click)="ToSendSenderLike($event,match)">
              <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
              <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.sender_likecount}}</span>
            </div>
      
          </div> -->
      
          <!-- <div style="display: flex; position: relative;left: 35%;top: 15px;">
            
            <div style="margin-left: 20px;">
              <span style="font-weight: 600; font-size: 15px; position: relative; bottom: 11px;"> {{match.total_commoncomments}} </span>
              <img src="../../assets/icon/02.png" alt="" style="height: 27px; width: 30px; margin-left: 11px;" (click)="gotoPersonalMatchComments($event,match)">
            </div>
      
            <div style="position: relative; bottom: -8px; background-color: white; width: 35px; height: 35px; border-radius: 50%; box-shadow: 0.5px 0.5px 9px 3px grey; left: 115px;">
              <img src="../../assets/icon/03.png" alt="" style="height: 22px;margin-top: 6px;" (click)="toShowMatchHistory($event,match)">
            </div>
          </div> -->
      
          <div style="display: grid; grid-template-columns: 1fr 1fr 1fr">
            <div style="position: relative; margin-top: 40px; background-color: white; width: 35px; height: 35px; border-radius: 50%; box-shadow: 0.5px 0.5px 9px 3px grey;">
              <img src="../../assets/icon/03.png" alt="" style="height: 22px;margin-top: 6px;" (click)="toShowMatchHistory($event,match)">
            </div>
      
            <div style="">
              <span style="font-weight: 600; font-size: 15px; position: relative; bottom: 11px;"> {{match.total_commoncomments}} </span>
              <img src="../../assets/icon/02.png" alt="" style="height: 27px; width: 30px; margin-left: 11px;" (click)="gotoPersonalMatchComments($event,match)">
            </div>
            <div style="margin-top: 35px;justify-content: right;display: flex;">
              <ion-button (click)="toViewReceiverMatchImage($event,match)" shape="round" size="small" style="text-transform: none;">Match</ion-button>
            </div>
            
          </div>
      
          <!-- <div style="background-color: #8080803d;padding:23px 0px 15px 0px;margin: 45px -5px -5px;">
            <div style="position: relative;bottom: 45px;background-color: white;width: 35px;height: 35px;border-radius: 50%;box-shadow: 0.5px 0.5px 5px 0px grey;left: 35px;">
              <img src="../../assets/icon/03.png" alt="" style="height: 22px;margin-top: 6px;" (click)="toShowMatchHistory($event,match)">
            </div>
      
            <div style="display: flex; position: relative;bottom: 35px;margin-left: 10px;">
      
              <div style="height: 45px;margin-left: 20px;">
              <p style="margin: 0px !important;font-weight: 600;"> {{match.agree_count}} </p>
                <img src="../../assets/icon/01.png" alt="" (click)="toLikePersonalMatch($event,match)">
                <p style="color: grey; margin: 0px !important;position: relative;bottom: 3px;font-size: 13px;">i Agree</p>
              </div>
      
              <div style="height: 45px;margin-left: 55px;">
                <p style="margin: 0px !important;font-weight: 600;"> {{match.disagree_count}} </p>
                <img src="../../assets/icon/01a.png" alt="" (click)="toDisLikePersonalMatch($event,match)">
                <p style="color: grey; margin: 0px !important;position: relative;bottom: 3px;font-size: 13px;">i Disagree</p>
              </div>
      
              <div style="height: 40px;margin-left: 55px;position: relative;top: 15px">
                <img src="../../assets/icon/02.png" alt="" (click)="toCommentPersonalMatch($event,match)">
                <span style="position: relative;bottom: 19px;margin-left: 5px;font-weight: 600;"> {{match.total_commoncomments}} </span>
              </div>
      
            </div>
      
          </div> -->
        </div>
      </div>

      <div *ngIf="this.userDetails.category == 'closed'">

        <div *ngFor="let item of match.compare_data; let k = index" style="margin: 10px;box-shadow: 1px 1px 10px 0px;padding: 5px 5px 30px 5px;margin-top: 0px !important;border-radius: 3px; border-top: 2px solid #80808078 ; margin-bottom: 50px;">
          <div style="flex:1">
            <div *ngIf="item.medias.length == 1">
              <div style="display: grid; grid-template-columns: 1fr; ">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>

                    <ion-img-viewer 
                    *ngIf="item.medias[0].media_type==='image' || item.medias[0].media_type===''"
                    scheme="dark" 
                    [src]="item.medias[0].media"
                    style="width: 150px;min-height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    <!-- <img *ngIf="item.medias[0].image_type==='image' || item.medias[0].image_type===''" [src]="item.medias[0].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; min-height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-textarea *ngIf="item.medias[0].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px;width: 150px;min-height: 90px; border-radius: 7px;">{{item.medias[0].media}}</ion-textarea>
                    <video *ngIf="item.medias[0].media_type==='video'" [src]="item.medias[0].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="item.medias[0].media_type==='audio'" [src]="item.medias[0].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="item.medias[0].media_type==='link'" style="width: 150px;min-height: 90px; border-radius: 7px;">
                      <a [href]="item.medias[0].media" style="width: 150px;height: 90px; border-radius: 7px;">{{item.medias[0].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[0].sub_caption}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="item.medias.length == 2">
              <div style="display: grid; grid-template-columns: 1fr 1fr;">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <ion-img-viewer 
                    *ngIf="item.medias[0].media_type==='image' || item.medias[0].media_type===''"
                    scheme="dark" 
                    [src]="item.medias[0].media"
                    style="width: 150px;min-height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    <!-- <img *ngIf="item.medias[0].image_type==='image' || item.medias[0].image_type===''" [src]="item.medias[0].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; min-height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-textarea *ngIf="item.medias[0].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px;width: 150px;min-height: 90px; border-radius: 7px;">{{item.medias[0].media}}</ion-textarea>
                    <video *ngIf="item.medias[0].media_type==='video'" [src]="item.medias[0].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="item.medias[0].media_type==='audio'" [src]="item.medias[0].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="item.medias[0].media_type==='link'" style="width: 150px;min-height: 90px; border-radius: 7px;">
                      <a [href]="item.medias[0].media" style="width: 150px;height: 90px; border-radius: 7px;">{{item.medias[0].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[0].sub_caption}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <ion-img-viewer 
                    *ngIf="item.medias[1].media_type==='image' || item.medias[1].media_type===''"
                    scheme="dark" 
                    [src]="item.medias[1].media"
                    style="width: 150px;min-height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    <!-- <img *ngIf="item.medias[1].image_type==='image' || item.medias[1].image_type===''" [src]="item.medias[1].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; min-height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-textarea *ngIf="item.medias[1].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px;width: 150px;min-height: 90px; border-radius: 7px;">{{item.medias[1].media}}</ion-textarea>
                    <video *ngIf="item.medias[1].media_type==='video'" [src]="item.medias[1].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="item.medias[1].media_type==='audio'" [src]="item.medias[1].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="item.medias[1].media_type==='link'" style="width: 150px;min-height: 90px; border-radius: 7px;">
                      <a [href]="item.medias[1].media" style="width: 150px;height: 90px; border-radius: 7px;">{{item.medias[1].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[1].sub_caption}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="item.medias.length == 3">
              <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
                <div style="padding:5px; display: flex;justify-content: center;">
                  <div>
                    <ion-img-viewer 
                    *ngIf="item.medias[0].media_type==='image' || item.medias[0].media_type===''"
                    scheme="dark" 
                    [src]="item.medias[0].media"
                    style="width: 120px;height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    
                    <ion-textarea *ngIf="item.medias[0].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px;width: 120px;min-height: 90px; border-radius: 7px;">{{item.medias[0].media}}</ion-textarea>
                    <video *ngIf="item.medias[0].media_type==='video'" [src]="item.medias[0].image" controls style="width: 120px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="item.medias[0].media_type==='audio'" [src]="item.medias[0].image" controls style="width: 120px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="item.medias[0].media_type==='link'" style="width: 120px;min-height: 90px; border-radius: 7px;">
                      <a [href]="item.medias[0].media">{{item.medias[0].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[0].sub_caption}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px; display: flex;justify-content: center;">
                  <div>
                    <ion-img-viewer 
                    *ngIf="item.medias[1].media_type==='image' || item.medias[1].media_type===''"
                    scheme="dark" 
                    [src]="item.medias[1].media"
                    style="width: 120px;height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    
                    <ion-textarea *ngIf="item.medias[1].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px;width: 120px;min-height: 90px; border-radius: 7px;">{{item.medias[1].media}}</ion-textarea>
                    <video *ngIf="item.medias[1].media_type==='video'" [src]="item.medias[1].image" controls style="width: 120px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="item.medias[1].media_type==='audio'" [src]="item.medias[1].image" controls style="width: 120px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="item.medias[1].media_type==='link'" style="width: 120px;min-height: 90px; border-radius: 7px;">
                      <a [href]="item.medias[1].media">{{item.medias[1].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[1].sub_caption}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px; display: flex;justify-content: center;">
                  <div>
                    <ion-img-viewer 
                    *ngIf="item.medias[2].media_type==='image' || item.medias[2].media_type===''"
                    scheme="dark" 
                    [src]="item.medias[2].media"
                    style="width: 120px;height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    
                    <ion-textarea *ngIf="item.medias[2].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px;width: 120px;min-height: 90px; border-radius: 7px;">{{item.medias[2].media}}</ion-textarea>
                    <video *ngIf="item.medias[2].media_type==='video'" [src]="item.medias[2].image" controls style="width: 120px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="item.medias[2].media_type==='audio'" [src]="item.medias[2].image" controls style="width: 120px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="item.medias[2].media_type==='link'" style="width: 120px;min-height: 90px; border-radius: 7px;">
                      <a [href]="item.medias[2].media">{{item.medias[2].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[2].sub_caption}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="item.medias.length == 4">
              <div style="display: grid; grid-template-columns: 1fr 1fr;">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <ion-img-viewer 
                    *ngIf="item.medias[0].media_type==='image' || item.medias[0].media_type===''"
                    scheme="dark" 
                    [src]="item.medias[0].media"
                    style="width: 150px;min-height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    <!-- <img *ngIf="item.medias[0].image_type==='image' || item.medias[0].image_type===''" [src]="item.medias[0].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; min-height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-textarea *ngIf="item.medias[0].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px;width: 150px;min-height: 90px; border-radius: 7px;">{{item.medias[0].media}}</ion-textarea>
                    <video *ngIf="item.medias[0].media_type==='video'" [src]="item.medias[0].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="item.medias[0].media_type==='audio'" [src]="item.medias[0].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="item.medias[0].media_type==='link'" style="width: 150px;min-height: 90px; border-radius: 7px;">
                      <a [href]="item.medias[0].media" style="width: 150px;height: 90px; border-radius: 7px;">{{item.medias[0].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[0].sub_caption}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <ion-img-viewer 
                    *ngIf="item.medias[1].media_type==='image' || item.medias[1].media_type===''"
                    scheme="dark" 
                    [src]="item.medias[1].media"
                    style="width: 150px;min-height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    <!-- <img *ngIf="item.medias[1].image_type==='image' || item.medias[1].image_type===''" [src]="item.medias[1].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; min-height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-textarea *ngIf="item.medias[1].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px;width: 150px;min-height: 90px; border-radius: 7px;">{{item.medias[1].media}}</ion-textarea>
                    <video *ngIf="item.medias[1].media_type==='video'" [src]="item.medias[1].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="item.medias[1].media_type==='audio'" [src]="item.medias[1].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="item.medias[1].media_type==='link'" style="width: 150px;min-height: 90px; border-radius: 7px;">
                      <a [href]="item.medias[1].media" style="width: 150px;height: 90px; border-radius: 7px;">{{item.medias[1].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[1].sub_caption}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div style="display: grid; grid-template-columns: 1fr 1fr;">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <ion-img-viewer 
                    *ngIf="item.medias[2].media_type==='image' || item.medias[2].media_type===''"
                    scheme="dark" 
                    [src]="item.medias[2].media"
                    style="width: 150px;min-height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    <!-- <img *ngIf="item.medias[2].image_type==='image' || item.medias[2].image_type===''" [src]="item.medias[2].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; min-height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-textarea *ngIf="item.medias[2].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px;width: 150px;min-height: 90px; border-radius: 7px;">{{item.medias[2].media}}</ion-textarea>
                    <video *ngIf="item.medias[2].media_type==='video'" [src]="item.medias[2].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="item.medias[2].media_type==='audio'" [src]="item.medias[2].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="item.medias[2].media_type==='link'" style="width: 150px;min-height: 90px; border-radius: 7px;">
                      <a [href]="item.medias[2].media" style="width: 150px;height: 90px; border-radius: 7px;">{{item.medias[2].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[2].sub_caption}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <ion-img-viewer 
                    *ngIf="item.medias[3].media_type==='image' || item.medias[3].media_type===''"
                    scheme="dark" 
                    [src]="item.medias[3].media"
                    style="width: 150px;min-height: 90px; border-radius: 7px;"
                    >
                    </ion-img-viewer>
                    <!-- <img *ngIf="item.medias[3].image_type==='image' || item.medias[3].image_type===''" [src]="item.medias[3].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; min-height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-textarea *ngIf="item.medias[3].media_type==='text'" readonly class="text-match-style" autoGrow style="margin-top:0px;width: 150px;min-height: 90px; border-radius: 7px;">{{item.medias[3].media}}</ion-textarea>
                    <video *ngIf="item.medias[3].media_type==='video'" [src]="item.medias[3].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></video>
                    <audio *ngIf="item.medias[3].media_type==='audio'" [src]="item.medias[3].media" controls style="width: 150px;min-height: 90px; border-radius: 7px;"></audio>
                    <div *ngIf="item.medias[3].media_type==='link'" style="width: 150px;min-height: 90px; border-radius: 7px;">
                      <a [href]="item.medias[3].media" style="width: 150px;height: 90px; border-radius: 7px;">{{item.medias[3].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[3].sub_caption}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div style="position: relative; bottom: 6%; margin-top: 30px;">
              <img [src]="match.compare_data[0].profile" alt="" onerror="this.src='../../assets/icon/no_media.png';" style="border-radius: 50%; height: 40px; width: 40px; border: 1px solid;">
              <p style=" font-size: 14px; margin: 0px; font-weight: 600; position: relative;">{{item.user.name}}</p>
      
              <h3> {{match.caption}} </h3>
            </div>
      
          </div>
      
          <!-- <div style="display: grid; grid-template-columns: 1fr">
      
            <div style="">
              <span style="font-weight: 600; font-size: 15px; position: relative; bottom: 11px;"> {{match.total_commoncomments}} </span>
              <img src="../../assets/icon/02.png" alt="" style="height: 27px; width: 30px; margin-left: 11px;" (click)="gotoPersonalMatchComments($event,match)">
            </div>
            <div *ngIf="this.userDetails.category!='closed'" style="margin-top: 35px;justify-content: right;display: flex;">
              <ion-button (click)="toViewReceiverMatchImage($event,match)" shape="round" size="small" style="text-transform: none;">Match</ion-button>
            </div>
            
          </div> -->
        </div>
      </div>
    
    </ion-slide>
    

<!-- slide ends here -->

  </ion-slides>


</ion-content>
