<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="this.userDetails.category=='personal'" style="position: relative;right: 25px;">PERSONAL MATCH</ion-title>
    <ion-title *ngIf="this.userDetails.category=='closed'" style="position: relative;right: 25px;">CLOSED MATCH</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div class="top-icons-container">
    <ion-row>
      <ion-col class="col-icon" (click)="IconCategorize('image')">
        <img src="../../assets/icon/img.png" alt="" style="height: 17px;width: 15px;">
      </ion-col>

      <ion-col class="col-icon" (click)="IconCategorize('video')">
        <img src="../../assets/icon/vid.png" alt="" style="height: 17px;width: 15px;">
      </ion-col>

      <ion-col class="col-icon" (click)="IconCategorize('audio')">
        <img src="../../assets/icon/aud.png" alt="" style="height: 17px;width: 15px;">      
      </ion-col>

      <ion-col class="col-icon" (click)="IconCategorize('attachment')">
        <img src="../../assets/icon/attach.png" alt="" style="height: 17px;width: 15px;">
      </ion-col>

      <ion-col style="border: 1px solid #bebebf; border-radius: 5px;" (click)="IconCategorize('link')">
        <img src="../../assets/icon/link.png" alt="" style="height: 17px;width: 15px;">
      </ion-col>
    </ion-row>
  </div> -->

  <ion-slides pager="true" #slides style="padding: 15px;">

    <!-- slide starts here -->
    
    <ion-slide *ngFor="let match of PersonalMatch; let i = index" class="animate__animated animate__flipInY">
      <div *ngIf="this.userDetails.category == 'personal'">
        <div style=" margin: 10px;box-shadow: 1px 1px 10px 0px;padding: 5px 5px 30px 5px;margin-top: 0px !important;border-radius: 3px; border-top: 2px solid #80808078 ; margin-bottom: 50px;">
      
          <div style="flex:1">
            <div *ngIf="match.compare_data.length == 2">
              <div style="display: grid; grid-template-columns: 1fr 1fr;">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="match.compare_data[0].media_type==='image'" [src]="match.compare_data[0].media" (click)="imageSlide(match)">
                    
                    <ion-textarea class="media-container-2" *ngIf="match.compare_data[0].media_type==='text'" readonly class="text-match-style" autoGrow (click)="imageSlide(match)">{{match.compare_data[0].media}}</ion-textarea>

                    <video class="media-container-2" *ngIf="match.compare_data[0].media_type==='video'" [src]="match.compare_data[0].media" controls (click)="imageSlide(match)"></video>

                    <audio class="media-container-2" *ngIf="match.compare_data[0].media_type==='audio'" [src]="match.compare_data[0].media" controls (click)="imageSlide(match)"></audio>

                    <div class="media-container-2" *ngIf="match.compare_data[0].media_type==='link'" (click)="imageSlide(match)">
                      <a [href]="match.compare_data[0].media" class="media-container-2">{{match.compare_data[0].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[0].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[0].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[0], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[0].likecount}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="match.compare_data[1].media_type==='image'" [src]="match.compare_data[1].media" (click)="imageSlide(match)">
                    
                    <ion-textarea  class="media-container-2" *ngIf="match.compare_data[1].media_type==='text'" readonly class="text-match-style" autoGrow (click)="imageSlide(match)">{{match.compare_data[1].media}}</ion-textarea>

                    <video  class="media-container-2" *ngIf="match.compare_data[1].media_type==='video'" [src]="match.compare_data[1].image" controls (click)="imageSlide(match)"></video>

                    <audio  class="media-container-2" *ngIf="match.compare_data[1].media_type==='audio'" [src]="match.compare_data[1].image" controls(click)="imageSlide(match)" ></audio>

                    <div  class="media-container-2" *ngIf="match.compare_data[1].media_type==='link'" (click)="imageSlide(match)">
                      <a [href]="match.compare_data[1].media">{{match.compare_data[1].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[1].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[1].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[1], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[1].likecount}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="match.compare_data.length == 3">
              <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="match.compare_data[0].media_type==='image'" [src]="match.compare_data[0].media" (click)="imageSlide(match)">
                    
                    <ion-textarea class = "media-container-3" *ngIf="match.compare_data[0].media_type==='text'" readonly class="text-match-style" autoGrow (click)="imageSlide(match)">{{match.compare_data[0].media}}</ion-textarea>

                    <video *ngIf="match.compare_data[0].media_type==='video'" [src]="match.compare_data[0].media" controls class = "media-container-3" (click)="imageSlide(match)"></video>

                    <audio class = "media-container-3" *ngIf="match.compare_data[0].media_type==='audio'" [src]="match.compare_data[0].media" controls (click)="imageSlide(match)"></audio>

                    <div class = "media-container-3" *ngIf="match.compare_data[0].media_type==='link'" (click)="imageSlide(match)">
                      <a [href]="match.compare_data[0].media">{{match.compare_data[0].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[0].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[0].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[0], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[0].likecount}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="match.compare_data[1].media_type==='image'" [src]="match.compare_data[1].media" (click)="imageSlide(match)">
                    
                    <ion-textarea class = "media-container-3" *ngIf="match.compare_data[1].media_type==='text'" readonly class="text-match-style" autoGrow (click)="imageSlide(match)">{{match.compare_data[1].media}}</ion-textarea>

                    <video class = "media-container-3" *ngIf="match.compare_data[1].media_type==='video'" [src]="match.compare_data[1].image" controls (click)="imageSlide(match)"></video>

                    <audio class = "media-container-3" *ngIf="match.compare_data[1].media_type==='audio'" [src]="match.compare_data[1].image" controls (click)="imageSlide(match)"></audio>

                    <div class = "media-container-3" *ngIf="match.compare_data[1].media_type==='link'" (click)="imageSlide(match)">
                      <a [href]="match.compare_data[1].media">{{match.compare_data[1].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[1].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[1].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[1], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[1].likecount}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <!-- <img *ngIf="match.compare_data[2].image_type==='image' || match.compare_data[2].image_type===''" [src]="match.compare_data[2].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; height: 255px; width: 150px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                  <div>
                    <img class="media-container-2" *ngIf="match.compare_data[2].media_type==='image'" [src]="match.compare_data[2].media" (click)="imageSlide(match)">
                    
                    <ion-textarea class = "media-container-3" *ngIf="match.compare_data[2].media_type==='text'" readonly class="text-match-style" autoGrow (click)="imageSlide(match)">{{match.compare_data[2].media}}</ion-textarea>

                    <video class = "media-container-3" *ngIf="match.compare_data[2].media_type==='video'" [src]="match.compare_data[2].media" controls (click)="imageSlide(match)"></video>

                    <audio class = "media-container-3" *ngIf="match.compare_data[2].media_type==='audio'" [src]="match.compare_data[2].media" controls (click)="imageSlide(match)" ></audio>
                    <div class = "media-container-3" *ngIf="match.compare_data[2].media_type==='link'" (click)="imageSlide(match)">
                      <a [href]="match.compare_data[2].media">{{match.compare_data[2].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[1].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[2].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[2], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[2].likecount}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="match.compare_data.length == 4">
              <div style="display: grid; grid-template-columns: 1fr 1fr;">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="match.compare_data[0].media_type==='image'" [src]="match.compare_data[0].media" (click)="imageSlide(match)">

                    <ion-textarea class="media-container-2" *ngIf="match.compare_data[0].media_type==='text'" readonly class="text-match-style" autoGrow (click)="imageSlide(match)">{{match.compare_data[0].media}}</ion-textarea>
                    
                    <video class="media-container-2" *ngIf="match.compare_data[0].media_type==='video'" [src]="match.compare_data[0].media" controls (click)="imageSlide(match)"></video>

                    <audio class="media-container-2" *ngIf="match.compare_data[0].media_type==='audio'" [src]="match.compare_data[0].media" controls (click)="imageSlide(match)"></audio>

                    <div class="media-container-2" *ngIf="match.compare_data[0].media_type==='link'" (click)="imageSlide(match)">
                      <a [href]="match.compare_data[0].media">{{match.compare_data[0].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[0].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[0].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[0], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[0].likecount}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="match.compare_data[1].media_type==='image'" [src]="match.compare_data[1].media" (click)="imageSlide(match)">
                    
                    
                    <ion-textarea class="media-container-2" *ngIf="match.compare_data[1].media_type==='text'" readonly class="text-match-style" autoGrow (click)="imageSlide(match)">{{match.compare_data[1].media}}</ion-textarea>

                    <video class="media-container-2" *ngIf="match.compare_data[1].media_type==='video'" [src]="match.compare_data[1].image" controls (click)="imageSlide(match)"></video>

                    <audio class="media-container-2" *ngIf="match.compare_data[1].media_type==='audio'" [src]="match.compare_data[1].image" controls (click)="imageSlide(match)"></audio>
                    <div *ngIf="match.compare_data[1].media_type==='link'" class="media-container-2" (click)="imageSlide(match)">
                      <a [href]="match.compare_data[1].media">{{match.compare_data[1].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[1].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[1].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[1], match.match_id)">
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[1].likecount}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div style="display: grid; grid-template-columns: 1fr 1fr; margin-top: 30px;">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="match.compare_data[2].media_type==='image'" [src]="match.compare_data[2].media" (click)="imageSlide(match)">

                    <ion-textarea class="media-container-2" *ngIf="match.compare_data[2].media_type==='text'" readonly class="text-match-style" autoGrow (click)="imageSlide(match)">{{match.compare_data[2].media}}</ion-textarea>

                    <video class="media-container-2" *ngIf="match.compare_data[2].media_type==='video'" [src]="match.compare_data[2].media" controls (click)="imageSlide(match)"></video>

                    <audio class="media-container-2" *ngIf="match.compare_data[2].media_type==='audio'" [src]="match.compare_data[2].media" controls (click)="imageSlide(match)"></audio>

                    <div class="media-container-2" *ngIf="match.compare_data[2].media_type==='link'" (click)="imageSlide(match)">
                      <a [href]="match.compare_data[2].media">{{match.compare_data[2].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[2].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[2].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[2], match.match_id)">
                      <!-- <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; "> -->
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[2].likecount}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="match.compare_data[3].media_type==='image'" [src]="match.compare_data[3].media" (click)="imageSlide(match)">
                    
                    <ion-textarea class="media-container-2" *ngIf="match.compare_data[3].media_type==='text'" readonly class="text-match-style" autoGrow (click)="imageSlide(match)">{{match.compare_data[3].media}}</ion-textarea>

                    <video class="media-container-2" *ngIf="match.compare_data[3].media_type==='video'" [src]="match.compare_data[3].image" controls (click)="imageSlide(match)"></video>

                    <audio class="media-container-2" *ngIf="match.compare_data[3].media_type==='audio'" [src]="match.compare_data[3].image" controls (click)="imageSlide(match)"></audio>

                    <div *ngIf="match.compare_data[3].media_type==='link'" class="media-container-2" (click)="imageSlide(match)">
                      <a [href]="match.compare_data[3].media">{{match.compare_data[3].media}}</a>
                    </div>
      
                    <p *ngIf="userDetails.userType==='owner'" (click)="openCount(i, 'receiver')" style="margin: 0; font-size: 14px;"> 
                      <img *ngIf="match.compare_data[3].media_closedstatus===1" style="width: 30px;" src="../../assets/icon/shoot-grey.png" alt="">
                    </p>
                    <div style="font-size: 12px;">
                      <span>{{match.compare_data[3].sub_caption}}</span>
                    </div>
                    <div style="" (click)="ToSendSenderLike($event,match.compare_data[3], match.match_id)">
                      <img src="../../assets/icon/newIc-1 (1).png" alt="" style=" width: 45px;height: 45px;">
                      <span style="margin-left: 10px; position: relative; bottom: 15px;">{{match.compare_data[3].likecount}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>      
          </div>
      
          <div>
      
            <div style="position: relative; bottom: 6%; margin-top: 30px;">
              <img [src]="match.compare_data[0].profile" alt="" onerror="this.src='../../assets/icon/no_media.png';" style="border-radius: 50%; height: 40px; width: 40px; border: 1px solid;">
              <p style=" font-size: 14px; margin: 0px; font-weight: 600; position: relative;">{{match.compare_data[0].name}}</p>
      
              <h3> {{match.caption}} </h3>
            </div>
      
          </div>
          <div style="display: grid; grid-template-columns: 1fr 1fr 1fr">
            <div style="position: relative; margin-top: 40px; background-color: white; width: 35px; height: 35px; border-radius: 50%; box-shadow: 0.5px 0.5px 9px 3px grey;">
              <img src="../../assets/icon/03.png" alt="" style="height: 22px;margin-top: 6px;" (click)="toShowMatchHistory($event,match)">
            </div>
      
            <div style="">
              <span style="font-weight: 600; font-size: 15px; position: relative; bottom: 11px;"> {{match.total_commoncomments}} </span>
              <img src="../../assets/icon/02.png" alt="" style="height: 27px; width: 30px; margin-left: 11px;" (click)="gotoPersonalMatchComments($event,match)">
            </div>
            <div style="margin-top: 35px;justify-content: right;display: flex;">
              <ion-button (click)="toViewReceiverMatchImage($event,match)" shape="round" size="small" style="text-transform: none;">Match</ion-button>
            </div>
            
          </div>
        </div>
      </div>

      <div *ngIf="this.userDetails.category == 'closed'">

        <div *ngFor="let item of match.compare_data; let k = index" style="margin: 10px;box-shadow: 1px 1px 10px 0px;padding: 5px 5px 30px 5px;margin-top: 0px !important;border-radius: 3px; border-top: 2px solid #80808078 ; margin-bottom: 50px;">
          <div style="flex:1">
            <div *ngIf="item.medias.length == 2">
              <div style="display: grid; grid-template-columns: 1fr 1fr;">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="item.medias[0].media_type==='image'" [src]="item.medias[0].media" (click)="imageSlide(match)">

                    <ion-textarea class="media-container-2" *ngIf="item.medias[0].media_type==='text'" readonly class="text-match-style" autoGrow (click)="imageSlide(match)">{{item.medias[0].media}}</ion-textarea>

                    <video class="media-container-2" *ngIf="item.medias[0].media_type==='video'" [src]="item.medias[0].media" controls (click)="imageSlide(match)"></video>

                    <audio class="media-container-2" *ngIf="item.medias[0].media_type==='audio'" [src]="item.medias[0].media" controls (click)="imageSlide(match)"></audio>

                    <div class="media-container-2" *ngIf="item.medias[0].media_type==='link'" (click)="imageSlide(match)">
                      <a [href]="item.medias[0].media">{{item.medias[0].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[0].sub_caption}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="item.medias[1].media_type==='image'" [src]="item.medias[1].media" (click)="imageSlide(match)">
                    
                    <ion-textarea class="media-container-2" *ngIf="item.medias[1].media_type==='text'" readonly class="text-match-style" autoGrow (click)="imageSlide(match)">{{item.medias[1].media}}</ion-textarea>
                    <video class="media-container-2" *ngIf="item.medias[1].media_type==='video'" [src]="item.medias[1].media" controls (click)="imageSlide(match)"></video>
                    <audio class="media-container-2" *ngIf="item.medias[1].media_type==='audio'" [src]="item.medias[1].media" controls (click)="imageSlide(match)"></audio>
                    <div class="media-container-2" *ngIf="item.medias[1].media_type==='link'" (click)="imageSlide(match)">
                      <a [href]="item.medias[1].media">{{item.medias[1].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[1].sub_caption}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="item.medias.length == 3">
              <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
                <div style="padding:5px; display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="item.medias[0].media_type==='image'" [src]="item.medias[0].media" (click)="imageSlide(match)">
                    
                    <ion-textarea class="media-container-3" *ngIf="item.medias[0].media_type==='text'" readonly class="text-match-style" autoGrow (click)="imageSlide(match)">{{item.medias[0].media}}</ion-textarea>

                    <video class="media-container-3" *ngIf="item.medias[0].media_type==='video'" [src]="item.medias[0].image" controls (click)="imageSlide(match)"></video>

                    <audio class="media-container-3" *ngIf="item.medias[0].media_type==='audio'" [src]="item.medias[0].image" controls (click)="imageSlide(match)"></audio>
                    <div *ngIf="item.medias[0].media_type==='link'" class="media-container-3" (click)="imageSlide(match)">
                      <a [href]="item.medias[0].media">{{item.medias[0].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[0].sub_caption}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px; display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="item.medias[1].media_type==='image'" [src]="item.medias[1].media" (click)="imageSlide(match)">
                    
                    <ion-textarea *ngIf="item.medias[1].media_type==='text'" readonly class="text-match-style" (click)="imageSlide(match)" autoGrow style="margin-top:0px;width: 120px;min-height: 90px; border-radius: 7px;">{{item.medias[1].media}}</ion-textarea>
                    <video *ngIf="item.medias[1].media_type==='video'" [src]="item.medias[1].image" controls class="media-container-3" (click)="imageSlide(match)"></video>
                    <audio *ngIf="item.medias[1].media_type==='audio'" [src]="item.medias[1].image" controls class="media-container-3" (click)="imageSlide(match)"></audio>
                    <div *ngIf="item.medias[1].media_type==='link'" class="media-container-3" (click)="imageSlide(match)">
                      <a [href]="item.medias[1].media">{{item.medias[1].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[1].sub_caption}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px; display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="item.medias[2].media_type==='image'" [src]="item.medias[2].media" (click)="imageSlide(match)">
                    
                    <ion-textarea *ngIf="item.medias[2].media_type==='text'" readonly class="text-match-style" autoGrow (click)="imageSlide(match)" style="margin-top:0px;width: 120px;min-height: 90px; border-radius: 7px;">{{item.medias[2].media}}</ion-textarea>
                    <video *ngIf="item.medias[2].media_type==='video'" [src]="item.medias[2].image" controls class="media-container-3" (click)="imageSlide(match)"></video>
                    <audio *ngIf="item.medias[2].media_type==='audio'" [src]="item.medias[2].image" controls class="media-container-3" (click)="imageSlide(match)"></audio>
                    <div *ngIf="item.medias[2].media_type==='link'" class="media-container-3" (click)="imageSlide(match)">
                      <a [href]="item.medias[2].media">{{item.medias[2].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[2].sub_caption}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="item.medias.length == 4">
              <div style="display: grid; grid-template-columns: 1fr 1fr;">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="item.medias[0].media_type==='image'" [src]="item.medias[0].media" (click)="imageSlide(match)">
                    <!-- <img *ngIf="item.medias[0].image_type==='image' || item.medias[0].image_type===''" [src]="item.medias[0].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; min-height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-textarea *ngIf="item.medias[0].media_type==='text'" readonly class="text-match-style" (click)="imageSlide(match)" autoGrow style="margin-top:0px;width: 150px;min-height: 90px; border-radius: 7px;">{{item.medias[0].media}}</ion-textarea>
                    <video *ngIf="item.medias[0].media_type==='video'" [src]="item.medias[0].media" controls class="media-container-2" (click)="imageSlide(match)"></video>
                    <audio *ngIf="item.medias[0].media_type==='audio'" [src]="item.medias[0].media" controls class="media-container-2" (click)="imageSlide(match)"></audio>
                    <div *ngIf="item.medias[0].media_type==='link'" class="media-container-2" (click)="imageSlide(match)">
                      <a [href]="item.medias[0].media" style="width: 150px;height: 90px; border-radius: 7px;">{{item.medias[0].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[0].sub_caption}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="item.medias[1].media_type==='image'" [src]="item.medias[1].media" (click)="imageSlide(match)">
                    <!-- <img *ngIf="item.medias[1].image_type==='image' || item.medias[1].image_type===''" [src]="item.medias[1].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; min-height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-textarea *ngIf="item.medias[1].media_type==='text'" readonly class="text-match-style" (click)="imageSlide(match)" autoGrow style="margin-top:0px;width: 150px;min-height: 90px; border-radius: 7px;">{{item.medias[1].media}}</ion-textarea>
                    <video *ngIf="item.medias[1].media_type==='video'" [src]="item.medias[1].media" controls class="media-container-2" (click)="imageSlide(match)"></video>
                    <audio *ngIf="item.medias[1].media_type==='audio'" [src]="item.medias[1].media" controls class="media-container-2" (click)="imageSlide(match)"></audio>
                    <div *ngIf="item.medias[1].media_type==='link'" class="media-container-2" (click)="imageSlide(match)">
                      <a [href]="item.medias[1].media" style="width: 150px;height: 90px; border-radius: 7px;">{{item.medias[1].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[1].sub_caption}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div style="display: grid; grid-template-columns: 1fr 1fr;">
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="item.medias[2].media_type==='image'" [src]="item.medias[2].media" (click)="imageSlide(match)">
                    <!-- <img *ngIf="item.medias[2].image_type==='image' || item.medias[2].image_type===''" [src]="item.medias[2].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; min-height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-textarea *ngIf="item.medias[2].media_type==='text'" readonly class="text-match-style" (click)="imageSlide(match)" autoGrow style="margin-top:0px;width: 150px;min-height: 90px; border-radius: 7px;">{{item.medias[2].media}}</ion-textarea>
                    <video *ngIf="item.medias[2].media_type==='video'" [src]="item.medias[2].media" controls class="media-container-2" (click)="imageSlide(match)"></video>
                    <audio *ngIf="item.medias[2].media_type==='audio'" [src]="item.medias[2].media" controls class="media-container-2" (click)="imageSlide(match)"></audio>
                    <div *ngIf="item.medias[2].media_type==='link'" class="media-container-2" (click)="imageSlide(match)">
                      <a [href]="item.medias[2].media" style="width: 150px;height: 90px; border-radius: 7px;">{{item.medias[2].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[2].sub_caption}}</span>
                    </div>
                  </div>
                </div>
                <div style="padding:5px;display: flex;justify-content: center;">
                  <div>
                    <img class="media-container-2" *ngIf="item.medias[3].media_type==='image'" [src]="item.medias[3].media" (click)="imageSlide(match)">
                    <!-- <img *ngIf="item.medias[3].image_type==='image' || item.medias[3].image_type===''" [src]="item.medias[3].image"  alt="" onerror="this.src='../../assets/icon/no_media.png';" style=" border-radius: 7px; min-height: 255px; width: 195px;" (click)="toViewReceiverMatchImage($event,match)"> -->
                    <ion-textarea *ngIf="item.medias[3].media_type==='text'" readonly class="text-match-style" autoGrow (click)="imageSlide(match)" style="margin-top:0px;width: 150px;min-height: 90px; border-radius: 7px;">{{item.medias[3].media}}</ion-textarea>
                    <video *ngIf="item.medias[3].media_type==='video'" [src]="item.medias[3].media" controls class="media-container-2" (click)="imageSlide(match)"></video>
                    <audio *ngIf="item.medias[3].media_type==='audio'" [src]="item.medias[3].media" controls class="media-container-2" (click)="imageSlide(match)"></audio>
                    <div *ngIf="item.medias[3].media_type==='link'" class="media-container-2" (click)="imageSlide(match)">
                      <a [href]="item.medias[3].media" style="width: 150px;height: 90px; border-radius: 7px;">{{item.medias[3].media}}</a>
                    </div>
                    <div style="font-size: 12px;">
                      <span>{{item.medias[3].sub_caption}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div style="position: relative; bottom: 6%; margin-top: 30px;">
              <img [src]="match.compare_data[0].profile" alt="" onerror="this.src='../../assets/icon/no_media.png';" style="border-radius: 50%; height: 40px; width: 40px; border: 1px solid;">
              <p style=" font-size: 14px; margin: 0px; font-weight: 600; position: relative;">{{item.user.name}}</p>
      
              <h3> {{match.caption}} </h3>
            </div>
      
          </div>
      
          <!-- <div style="display: grid; grid-template-columns: 1fr">
      
            <div style="">
              <span style="font-weight: 600; font-size: 15px; position: relative; bottom: 11px;"> {{match.total_commoncomments}} </span>
              <img src="../../assets/icon/02.png" alt="" style="height: 27px; width: 30px; margin-left: 11px;" (click)="gotoPersonalMatchComments($event,match)">
            </div>
            <div *ngIf="this.userDetails.category!='closed'" style="margin-top: 35px;justify-content: right;display: flex;">
              <ion-button (click)="toViewReceiverMatchImage($event,match)" shape="round" size="small" style="text-transform: none;">Match</ion-button>
            </div>
            
          </div> -->
        </div>
      </div>
    
    </ion-slide>
    

<!-- slide ends here -->

  </ion-slides>


</ion-content>
