<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab6" style="color: white" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title style="position: relative; right: 15px;">ABOUT US</ion-title>
  </ion-toolbar>
</ion-header>

<!-- PAGE CONTENT SECTION  -->
<ion-content>
  <div class="page-background-image">
    <div class="page-background-div">

      <div class="left-flex-div">
        <img src="../../assets/icon/about/logo.png" alt="" class="imatch_flex_image">
        <img src="../../assets/icon/about/01.png" alt="" class="left_flex_image">
        <img src="../../assets/icon/about/02.png" alt="" class="left_flex_image">
        <img src="../../assets/icon/about/03.png" alt="" class="left_flex_image">
        <img src="../../assets/icon/about/04.png" alt="" class="left_flex_image">
        <img src="../../assets/icon/about/05.png" alt="" class="left_flex_image">
      </div>

      <div class="right-flex-div">
        <p>ABOUT</p>
        <img src="../../assets/icon/about/01.jpg" alt="">
        <div class="right-lorem-para">
          <p>Lorem ipsum dolor sit amet, vitae sed et, velit tempus, ante arcu. Id dui possimus mollis libero porttitor, tellus sodales wisi ut congue augue sit, nisl sit vitae est magna egestas, suspendisse luctus nisi massa sed id nec. Eu at posuere in fermentum, eros diam nulla a ut, sed accumsan, lectus curae, non accumsan elit quisque. </p>
          <p>Laoreet libero ipsum, nec scelerisque, massa nulla, lectus dignissim nunc at tortor. Ac consectetuer vivamus natoque. Ut tortor dapibus vel egestas. Suspendisse ut nisl duis lectus, dignissim eget eleifend omnis non amet quam. Ultricies nunc.</p>
        </div>
        <p>IMATCH</p>
        <div class="imatch-list">
          <ul style="padding-left: 15px;">
            <li>Estibulum quis molestie dolor</li>
            <li>Pallentesque tempus congue arcu et</li>
            <li>Posuere qu sque et dui pharetra</li>
            <li>Vulputate lihern vitae, sagities ex.</li>
          </ul>
          <p>Laoreet libero ipsum, nec scelerisque, massa nulla, lectus dignissim nunc at tortor. Ac consectetuer vivamus natoque. Ut tortor dapibus vel egestas. Suspendisse ut nisl duis lectus, dignissim eget eleifend omnis non amet quam. Ultricies nunc.</p>
        </div>
      </div>

    </div>
  </div>
</ion-content>
