<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title style="position: relative;right: 15px;">PERSONAL MATCH MEDIA UPLOAD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="box">
    <div  class="inner-box">
      <div style="text-align: center;">
          <img src="../../assets/icon/help-invitation-terms/bar.png" style="height: 130px; width: 180px;">
      </div>

      <div style="background-color: #444446; margin-top: -5%; padding: 20px 10px 10px 10px; border-right: 1px solid #e0e0e0; text-align: center;">
        <div *ngFor="let att of this.anArray; let idx = index">
          <div *ngIf="att.type=='file'">
            <p style="font-size: 10px; color: white; background-color: #5e5e5f; border-radius: 5px; padding: 5px; width: 130px;"> {{selectedFiles[att.position].name}} </p>
          </div>
          <div *ngIf="att.type=='text'">
            <ion-input type="text" placeholder="" [(ngModel)]="wordArray[att.position].value" class="input-field"></ion-input>  
          </div>
          <div *ngIf="att.type=='link'">
            <ion-input type="text" placeholder="" [(ngModel)]="linkArray[att.position].value" class="input-field"></ion-input>  
          </div>
          <ion-input type="text" placeholder="Enter sub caption" [(ngModel)]="anArray[idx].value" class="input-field"></ion-input>
        </div>
        <div *ngIf="hideImageSpace==true">
          <form [formGroup]="Invitation">
            <ion-input formControlName="caption" [(ngModel)]="userData.caption" placeholder="Enter Caption" class="input-field" autocapitalize="true"></ion-input>
            <div style="justify-content: center;display: flex;flex-wrap: wrap;">
              <ion-chip style="background-color: #f44336; display: inline-block;justify-content: center; flex-wrap: nowrap;">
                <input #file class="custom-file-input-storage" formControlName="file" style="width: 160px;" type="file" multiple (change)="fileChangeEvent($event, 'folder')">
              </ion-chip>

              <ion-chip   (click)="takePicture()" style="background-color: #9c27b0; display: inline-block;  flex-wrap: nowrap;">Capture Image</ion-chip>

              <ion-chip style="background-color: #3f51b5; display: inline-block; flex-wrap: nowrap;">
                <!-- <ion-icon name="videocam"></ion-icon> -->
                <input #file class="custom-file-input-Capture-Video" formControlName="file" style="width: 92px;" accept="video/*;capture=camera" capture type="file" multiple (change)="fileChangeEvent($event,'video')">
                <!-- <ion-label>Capture Video</ion-label> -->
              </ion-chip>

              <ion-chip style="background-color: #2196f3; display: inline-block; flex-wrap: nowrap;">
                <input #file class="custom-file-input-Capture-Audio" formControlName="file" style="width: 90px;" accept="audio/*" capture type="file" multiple (change)="fileChangeEvent($event,'audio')">
              </ion-chip>

              <ion-chip style="background-color: #009688;" (click)="toShowLinkInputFiled()">
                <ion-label>Share Links</ion-label>
              </ion-chip>

              <ion-chip style="background-color: #ff9800;" (click)="toShowTextArea()">
                <ion-label>Share Wordings</ion-label>
              </ion-chip>

            </div>
            <ion-button color="warning" style="font-family: OpenSansBold;" type="submit" (click)="submit()">Launch</ion-button>
          </form>
        </div>

        <form [formGroup]="LinkInputForm">
          <div *ngIf="isLink==true" class="animate__animated animate__fadeInUp">
            <ion-input formControlName="caption" [(ngModel)]="userLink.caption" placeholder="Enter Caption" class="input-field" autocapitalize="true"></ion-input>
            <ion-textarea formControlName="link1" [(ngModel)]="userLink.link1" placeholder="Enter Your Link" class="input-field" auto-grow="true" type="url" value="https://"></ion-textarea>
            <ion-textarea formControlName="link2" [(ngModel)]="userLink.link2" placeholder="Enter Your Link" class="input-field" auto-grow="true" type="url" value="https://"></ion-textarea>

            <ion-button color="warning" style="font-family: OpenSansBold;" type="submit" (click)="submit()">Launch</ion-button>
          </div>
        </form>
        <form [formGroup]="TextInputForm">
          <div *ngIf="isWordings==true" class="animate__animated animate__fadeInUp">
            <ion-input formControlName="caption" [(ngModel)]="userText.caption" placeholder="Enter Caption" class="input-field" autocapitalize="true"></ion-input>
            <ion-textarea formControlName="text1" [(ngModel)]="userText.text1" placeholder="Enter Your Wording" class="input-field" auto-grow="true" type="text"></ion-textarea>
            <ion-textarea formControlName="text2" [(ngModel)]="userText.text2" placeholder="Enter Your Wording" class="input-field" auto-grow="true" type="text"></ion-textarea>
            <ion-button color="warning" style="font-family: OpenSansBold;" type="submit" (click)="submit()">Launch</ion-button>
          </div>
        </form>

      </div>

    </div>
  </div>

</ion-content>
