<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title style="position: relative; right: 40px;">BEST MOMENTS</ion-title>
    <div style="position: absolute; bottom: 13px; width: 35px; display: flex; right: 100px; text-align: center;">
      <span style="margin-left: 10px; background-color: #ececed; color: #707072; padding: 4px; border-radius: 50%; font-size: 13px; position: relative; bottom: 3px; height: 25px; width: 25px; right: 20px;"> 
        {{this.BestMoments.length}} </span>
      </div>
      <img *ngIf="UserInfo" [src]="UserInfo.user_profilepic" alt="" style="    height: 46px; width: 46px; border-radius: 50%; border: 1px solid white; position: absolute; right: 28px; bottom: 6px;">
      <ion-icon name="caret-down-outline" style="position: absolute; right: 10px; color: white; bottom: 15px;"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="padding: 30px; margin-top: 60px; text-align: center;" *ngIf="BestMoments.length == 0">
    <div style="background-color: #c3c3c4; border-radius: 50%;">
      <img src="../../assets/icon/hand-with-camera.png" alt="" style="border-radius: 50%; padding: 25px;">
    </div>
    <h5 style="font-weight: 600; margin-top: 45px; line-height: 30px; letter-spacing: 1px;">No Best / Worst Moment Medias Available !!!</h5>
  </div>

    <div style="padding: 25px 20px 20px 20px;">

    <div *ngFor="let moments of BestMoments, let i = index" style="box-shadow: 1px 1px 5px 1px grey; border-radius: 5px; margin-bottom: 20px;" class="animate__animated animate__fadeIn">
      <div>

        <div style="position: absolute; right: 10px; background: #f1d948; margin-top: 20px; padding: 3px 10px;">
          <img src="../../assets/icon/blog/alnd.png" alt="" style="height: 18px; width: 18px;">
          <span style="font-size: 13px; position: relative; bottom: 3px; font-weight: 600; letter-spacing: 1px; margin-left: 5px;"> {{moments.created_at | date}} - {{moments.created_at | date:'shortTime'}}</span>
        </div>

        <img [src]="moments.file" alt="" style="height: 260px; width: 350px;">

        <div style="position: relative; bottom: 31px; background-color: #707072; opacity: 60%; padding: 2px 15px;">
          <img src="../../assets/icon/img1.png" alt="" style="height: 15px; width: 20px;">
          <span slot="start" style="font-size: 13px; font-weight: 600; margin-left: 5px; position: relative; bottom: 2px; color: white;"> {{moments.media_count}}</span>
        </div>

      </div>
  
      <div style="padding: 10px; position: relative; bottom: 25px; height: 70px;">
        <p style="margin-top: 1px; font-weight: 600;"> {{moments.caption}} </p>

        <img src="../../assets/icon/blog/heart.png" alt="" style="width: 23px; height: 20px;" (click)="toLike($event,moments)"> 
        <span style="font-size: 14px; position: relative; bottom: 5px; margin-left: 5px; color: #707072; font-weight: 600;"> {{moments.Like_count}} </span>
        <img src="../../assets/icon/blog/comment.png" alt="" style="width: 25px; height: 20px; margin-left: 15px;" (click)="gotoComment($event,moments)"> 
        <span style="font-size: 14px; position: relative; bottom: 5px; margin-left: 5px; color: #707072; font-weight: 600;"> {{moments.comment_count}} </span>

        <!-- <div slot="end" style="text-align: end; position: relative; bottom: 30px;">
          <img src="../../assets/icon/add.png" alt="" style="width: 43px; height: 43px; position: relative; bottom: 20px;">
        </div> -->
      </div>
    </div>

  </div>

</ion-content>
