.top-icons-container{
    text-align: center;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 35px;
}

.col-icon{
    border: 1px solid #bebebf;
    border-radius: 5px;
    margin-right: 7px;
}

.main-img{
    height: 220px;
    width: 165px;
    border-radius: 10px;
    margin-top: 17px;
}

.vs-img{
    height: 28px;
    width: 28px;
    position: relative;
    top: 104px;
    margin: 0px -14px 0px -25px;;
}

.shoot-grey-icon-img{
    float: right;
    height: 42px;
    width: 45px;
    background: white;
    position: relative;
    bottom: 27px;
    padding: 9px;
    border-radius: 50%;
    right: 17px;
    box-shadow: 1px 1px 8px 1px;
}

.thumnail-img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 130px;
}

.person-name-text{
    margin-left: 32px;
    position: relative;
    bottom: 20px;
    font-size: 12px;
    color: black;
}

.under-name-text{
    font-size: x-small;
    position: relative;
    left: 32px;
    bottom: 29px;
}

h6{
    color: black;
    font-weight: 900;
    font-size: small;
    position: relative;
}

.star-icon-near-name{
    height: 20px;
    width: 20px;
    float: right;
    position: relative;
    bottom: 67px;
    right: 26px;
}

.icon-near-number-count-left{
    float: right;
    height: 23px;
    width: 23px;
    margin-left: 10px;
    position: relative;
    bottom: 30px;
}

.icon-near-number-count-right{
    height: 23px;
    width: 23px;
    margin-left: 22px;
    position: relative;
    bottom: 30px
}

.bottom-container{
    background: #80808030;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: -8px;
    color: black;
}

.bottom-right-time-note{
    position: relative;
    left: 125px;
    bottom: 7px;
}

.bottom-clock-img{
          height: 20px;
          width: 20px;
          position: relative;
          float: left;
          left: 103px;
          top: 6px;
}

ion-slides {
    --bullet-background:black;
}











.item-styles{
    border-left: 5px solid #bcbcbc;
    border-radius: 10px;
    padding: 3px;
    margin: 17px;
    border-bottom: 1px solid #ccccce;
    box-shadow: 1px 1px #ccccce;
    border-top: 1px solid #80808038;
}
.spinner-container{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.sc-ion-popover-md-h {
    --width : 350px !important;
}