<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button style="color: white" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title style="position: relative;right: 25px;">BESTIES ACTIONS</ion-title>

    <div class="tabone_header_right">
      <div style="margin-left: 10px;">
        <img *ngIf="userDetails" [src]="userDetails.profile_pic" alt="" style="height: 46px;width: 46px;border-radius: 50%;border: 1px solid white;position: relative;bottom: 9px;">
      </div>
      <div style="margin-left: 3px;font-size: 16px;color: #ffffff;position: relative;bottom: 8px;">
        <ion-icon name="caret-down-outline"></ion-icon>
      </div>
    </div>

  </ion-toolbar>
</ion-header>

<!-- PAGE CONTENT SECTION  -->
<ion-content [fullscreen]="true">
  <div class="squadList_background">
    <div class="box_div_session , animate__animated animate__fadeIn" style="margin-top: 20px;" *ngFor="let actions of BestiesAction">
      <div style="background-color: #707072; width: 30%; padding-bottom: 0; text-align: center; color: #ffffff;">
        
        <div style="margin-right: 3px; position: relative;">
          <div style="margin-left: 3px; position: relative;">
            <img [src]="actions.pic" alt="" style="height:50px; width: 50px;border-radius: 50%;">
            <p style="font-size: 12px;">{{actions.name}}</p>
          </div>
          <!-- <div class="box_m">
            <img [src]="actions.userprofile" alt="" style="height:20px; width: 20px;border-radius: 50%;">
            <p>{{actions.name}}</p>
          </div> -->
        </div>

      </div>
      <div class="right_content">
        <p style="line-height: 20px; font-size: 18px; color: #ffffff;">{{actions.title}}</p>
        <p class="right_content_time">{{actions.created_at | date:'HH'}} hours ago</p>
      </div>
    </div>
  </div>


</ion-content>