<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <!-- <ion-list-header>iMatch</ion-list-header> -->
          <ion-searchbar class="menu-searchbar" color="warning"></ion-searchbar>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="openPage(i)" routerDirection="root" lines="none" detail="false">
              <img class="menu-icons" [src]="p.img" />
              <!-- <ion-icon color="light" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"> -->
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            
          </ion-menu-toggle>
          <ion-item (click)="reportIssue()">
            <img style="width: 65px; margin: 10px 0 45px 25px;" src="../../assets/icon/menu/report.png">
      
          </ion-item>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="false" (click)="gotoLogoutPopover()">
              <img class="menu-icons" src="../../assets/icon/menu/log.png">
              <ion-label>Log Out</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
