<ion-header [translucent]="true">
  <div style="background-color: #707072; height: 200px;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <img style="width: 267px; margin: -40px 0 0 35px;" src="../../assets/icon/privacy/lock1.png">
    <!-- <div class="header-box" style="background-color: black; height: 80px; width: 80px; position: absolute; left: 45px; top: 58px;"></div>
    <div class="header-box" style="background-color: #fcbb3b; height: 90px; width: 90px; position: absolute; left: 78px; top: 53px;"></div>
    <div class="header-box" style="background-color: #f21908; height: 110px; width:110px; position: absolute; left: 110px; top: 44px;"></div>
    <div class="header-box" style="background-color: #707072; height: 120px; width: 120px; position: absolute; left: 145px; top: 38px">
      <div style="font-family: OpenSansBold; font-size: 15px; transform: rotate(-45deg); margin: 47px 0 0 -3px; color: white;">PRIVACY POLICY</div>
    </div>
    <div class="header-box" style="background-color: #fcbb3b; height: 60px; width: 60px; position: absolute; left: 228px; top: 122px"></div>-->
  </div> 
</ion-header>
  
  <ion-content>
    <div>

      <div style="margin: 30px 0 0 213px; font-size: 13px; color: #707072; font-family: OpenSansSemiBold;">
        <p style="margin-left: -10px;">
          A privacy policy is the policy or legal page where you need to:
        </p>

        <div style="margin: 85px 0 0 -158px; font-family: OpenSansRegular">
          <img style="width: 8px; margin: 0 0 -25px 120px;" src="../../assets/icon/privacy/dot-icon.png">
          <p style="margin: 5px 0 -20px 138px; font-size: 13px;">Specify if you collect personal data from users</p>
          
          <img style="width: 8px; margin: 0 0 -25px 120px;" src="../../assets/icon/privacy/dot-icon.png">
          <p style="margin: 5px 0 -20px 138px; font-size: 13px;">Specify if you collect personal data from users</p>

          <img style="width: 8px; margin: 0 0 -25px 120px;" src="../../assets/icon/privacy/dot-icon.png">
          <p style="margin: 5px 0 -20px 138px; font-size: 13px;">Specify if you collect personal data from users</p>

        </div> 

        <!-- <ul style="margin: 125px 0 0 -80px;">
          <li style="margin-bottom: 5px;">Specify if you collect personal data from users</li>
          <li style="margin-bottom: 5px;">Specify if you collect personal data from users</li>
          <li>Specify if you collect personal data from users</li>
        </ul> -->
    </div>
    
    <div style="width: 160px; box-shadow: 2px 0 10px 1px #707072; height: 160px;
    position: relative;
    transform: rotate(45deg);
    margin-top: -252px;
    margin-left: 35px;">
      <div (click)="scrollTo('red')" style="border: 1px solid white; background-color: #f21908; height: 50%; width: 50%;">
        <span class="box-content" style="margin: 8px 0 0 7px;">What is</span>
        <span class="box-content" style="margin: 29px 0 0 4px; letter-spacing: 0.5px;">Personal Data</span>
      </div>

      <div (click)="scrollTo('yellow')" style="border: 1px solid white; background-color: #fcbb3b; height: 50%; width: 50%;">
        <span class="box-content" style="margin: 14px 0 0 0;">Who need a</span>
        <span class="box-content" style="margin: 29px 0 0 4px; letter-spacing: 0.5px;">Privacy Policy</span>
      </div>
       
      <div (click)="scrollTo('black')" style="border: 1px solid white; background-color: black; height: 50%; width: 50%; top: 50%; left: 50%; position: absolute;">
        <span class="box-content" style="margin: 17px 0 0 7px;">What to</span>
        <span class="box-content" style="margin: 34px 0 0 11px;">include</span>
        <span class="box-content" style="margin: 6px 0 0 39px;">in</span>
        <span class="box-content" style="margin: 50px 0 0 14px;">Privacy</span>
        <span class="box-content" style="margin: 22px 0 0 41px;">Policy</span>
      </div>
       
      <div (click)="scrollTo('grey')" style="border: 1px solid white; background-color: #707072; height: 50%; width: 50%; bottom: 50%; left: 50%; position: absolute;">
        <span class="box-content" style="margin: 42px 0 0 10px; letter-spacing: 0.5px;">Privacy</span>
        <span class="box-content" style="margin: 15px 0 0 38px; letter-spacing: 0.5px;">Laws</span>
      </div>

      
        
    </div>
  </div>

  <!-- Red -->

  <div id="red" style="margin-top: -15px;">
    <div style="position: absolute; left: 10px; margin-top: 182px;">
      <ion-icon name="mail" color="primary" style="width: 18px; height: 20px;"></ion-icon>
      <div style="margin: -23px 0 3px 28px; font-family: OpenSansSemiBold; font-size: 13px; color: #707072">Email Address</div>
      <ion-icon name="person" color="primary" style="width: 18px; height: 20px;"></ion-icon>
      <div style="margin: -23px 0 3px 28px; font-family: OpenSansSemiBold; font-size: 13px; color: #707072">First and Last Name</div>
      <ion-icon name="location" color="primary" style="width: 18px; height: 20px;"></ion-icon>
      <div style="margin: -23px 0 3px 28px; font-family: OpenSansSemiBold; font-size: 13px; color: #707072">Billing and Shopping Address</div>
      <ion-icon name="card" color="primary" style="width: 18px; height: 20px;"></ion-icon>
      <div style="margin: -23px 0 3px 28px; font-family: OpenSansSemiBold; font-size: 13px; color: #707072">Debit/Credit card information</div>
    </div>
    <div style="box-shadow: 2px 0 10px 1px #707072; background-color: #f21908; transform: rotate(45deg); height: 100px; width: 100px; position: absolute; right: 22px; margin-top: 160px;">
      <div class="triangle"></div>
      <span class="box-content" style="margin: 12px 0 0 8px; font-size: 14px;">What is</span>
      <span class="box-content" style="margin: 40px 0 0 5px; font-size: 14px;">Personal Data</span>
    </div>
  </div>

  <!-- Red Ends -->

  <!-- Yellow -->

  <div style="margin-top: -45px;">
    <div>
      <p id="yellow" style="font-family: OpenSansRegular; font-size: 13px; position: absolute; left: 152px; margin-top: 360px; color: #707072;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In tellus integer feugiat 
          scelerisque varius morbi. Praesent semper feugiat nibh sed pulvinar. In est ante in nibh mauris. 
      </p>

      <p style="font-family: OpenSansRegular; font-size: 13px; position: absolute; left: 22px; margin-top: 500px;  color: #707072;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In tellus integer feugiat 
          scelerisque varius morbi. Praesent semper feugiat nibh sed pulvinar. In est ante in nibh mauris. 
      </p>
    </div>
    <div style="box-shadow: 2px 0 10px 1px #707072; background-color: #fcbb3b; transform: rotate(45deg); height: 100px; width: 100px; position: absolute; left: 22px; margin-top: 380px;">
      <div class="triangle-2"></div>
      <span class="box-content" style="margin: 25px 0 0 0px; font-size: 14px;">Who need a</span>
      <span class="box-content" style="margin: 42px 0 0 7px; font-size: 14px;">Privacy Policy</span>
    </div>
  </div>

  <!-- Yellow Ends -->

  <!-- Grey -->

    <div style="margin-top: 5px;">
      <div >
        <p id="grey" style="font-family: OpenSansRegular; font-size: 13px; position: absolute; left: 24px; margin-top: 630px; right: 147px; color:#707072">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In tellus integer feugiat 
            scelerisque varius morbi. Praesent semper feugiat nibh sed pulvinar. In est ante in nibh mauris. 
        </p>

        <p style="font-family: OpenSansRegular; font-size: 13px; position: absolute; left: 22px; margin-top: 795px; color:#707072">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In tellus integer feugiat 
            scelerisque varius morbi. Praesent semper feugiat nibh sed pulvinar. In est ante in nibh mauris. 
       </p>
      </div>
      <div style="box-shadow: 2px 0 10px 1px #707072; background-color: #707072; transform: rotate(45deg); height: 100px; width: 100px; position: absolute; right: 22px; margin-top: 630px;">
        <div class="triangle"></div>
        <span class="box-content" style="margin: 35px 0 0 5px; font-size: 14px;">Privacy Laws</span>
      </div>
    </div>

  <!-- Grey Ends -->

  <!-- Yellow -->

  <div style="margin-bottom: 10px;">
      <div style="margin-top: 930px;">
        <!-- <p  style="font-family: OpenSansRegular; font-size: 13px; position: absolute; left: 152px; margin-top: 352px; color: #707072;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In tellus integer feugiat 
            scelerisque varius morbi. Praesent semper feugiat nibh sed pulvinar. In est ante in nibh mauris. 
        </p> -->

        <!-- <div> -->

            <div id="black" style="margin: 0 0 0 190px; font-size: 14px; color: #707072; font-family: OpenSansSemiBold;">
              <p style="margin-left: -58px;">
                A privacy policy is the policy or legal page where you need to:
              </p>
      
              <div style="margin: 5px 0 0 -165px; font-family: OpenSansRegular">
                <img style="width: 8px; margin: 0 0 -25px 114px;" src="../../assets/icon/privacy/dot-icon.png">
                <p style="margin: 7px 0 -20px 130px; font-size: 13px;">Specify if you collect personal data from users</p>
                
                <img style="width: 8px; margin: 0 0 -25px 114px;" src="../../assets/icon/privacy/dot-icon.png">
                <p style="margin: 7px 0 -20px 130px; font-size: 13px;">Specify if you collect personal data from users</p>
      
                <img style="width: 8px; margin: 0 0 -25px 114px;" src="../../assets/icon/privacy/dot-icon.png">
                <p style="margin: 7px 0 -20px 130px; font-size: 13px;">Specify if you collect personal data from users</p>
      
              </div> 
      
          </div>
  
      </div>
      <div style="box-shadow: 2px 0 10px 1px #707072; background-color: black; transform: rotate(45deg); height: 100px; width: 100px; position: absolute; left: 22px; margin-top: -166px;">
        <div class="triangle-2"></div>
        <span class="box-content" style="margin: 3px 0 0 1px; font-size: 14px;">What to</span>
        <span class="box-content" style="margin: 20px 0 0 7px; font-size: 14px;">include in</span>
        <span class="box-content" style="margin: 41px 0 0 11px; font-size: 14px;">Privacy Policy</span>
      </div>
  </div>

  <!-- Yellow Ends -->
   
  </ion-content>
  