<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button style="color: white" icon="chevron-back"></ion-back-button>
        </ion-buttons>
        <ion-title style="position: relative;right: 25px;">Ongoing Contest</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="margin:5px; border-radius: 10px; border: 1px solid #e2e2e2; box-shadow: 0px 4px 0px 2px #f1eded; ">
        <div *ngIf="this.ongoingData.compare_data != null">
            <div style="display:flex; justify-content: center;">
                <div style="display: flex;">
                    <div style="width: 100%; display: flex; justify-content: right; flex: 25; position: relative; left: 10px">
                        <div style="padding: 3px;">
                            <img *ngIf="this.ongoingData.compare_data[0].mediafiles[0].media_type == 'image'" src="{{this.ongoingData.compare_data[0].mediafiles[0].file_path}}" alt="" style="width: 500px; height: 200px;border-radius: 5px;">
                            <video *ngIf="this.ongoingData.compare_data[0].mediafiles[0].media_type == 'video'" src="{{this.ongoingData.compare_data[0].mediafiles[0].file_path}}" alt="" style="width: 500px; height: 200px;border-radius: 5px;"></video>
                            <audio *ngIf="this.ongoingData.compare_data[0].mediafiles[0].media_type == 'audio'" src="{{this.ongoingData.compare_data[0].mediafiles[0].file_path}}" alt="" style="width: 500px; height: 200px;border-radius: 5px;"></audio>
                            <div *ngIf="this.ongoingData.compare_data[0].mediafiles[0].media_type == 'link' || this.ongoingData.compare_data[0].mediafiles[0].media_type == 'text'" style="height: 200px;border-radius: 5px;background:#e2e2e2; padding:10px;">{{this.ongoingData.compare_data[0].mediafiles[0].filename}}</div>
                            <div style="display: flex; justify-content: right; margin-top: -44px;">
                                <div style=" width: 60px; height: 60px; background: #fff; border-radius: 50%; padding: 14px;margin-right: 14px; border: 1px solid #e2e2e2; box-shadow: 0px 3px 0px 1px #e2e2e2;">
                                    <img src="../assets/icon/04.png" alt="" style="width: 50px;height: 30px;">
                                </div>
                            </div>
                            <div style="display: flex; justify-content: start; ">
                                <img src="../assets/icon/profile/user.png" alt="" style="width: 40px; height: 40px; border-radius: 50%">
                                <div style="padding-left: 10px; display: inline-grid;">
                                    <span style="font-size: 13px;">{{this.ongoingData.compare_data[0].name}}</span>
                                    <span style="font-size: 10px;color: #7c7070;">{{this.ongoingData.compare_data[0].email}}</span>
                                </div>
                            </div>
                            <div>
                                <p>{{this.ongoingData.compare_data[0].mediafiles[0].sub_caption}}</p>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; position: relative;z-index: 10; justify-content: center; margin: auto; margin-top: 90px;">
                        <img src="../assets/icon/vs.png" alt="" style="width: 30px;">
                    </div>
                    <div style="width: 100%; display: flex; justify-content: left; flex: 25; position: relative; right: 10px">
                        <div style="padding: 3px">
                            <img *ngIf="this.ongoingData.compare_data[1].mediafiles[0].media_type == 'image'" src="{{this.ongoingData.compare_data[1].mediafiles[0].file_path}}" alt="" style="width: 500px; height: 200px;border-radius: 5px;">
                            <video *ngIf="this.ongoingData.compare_data[1].mediafiles[0].media_type == 'video'" src="{{this.ongoingData.compare_data[1].mediafiles[0].file_path}}" alt="" style="width: 500px; height: 200px;border-radius: 5px;"></video>
                            <audio *ngIf="this.ongoingData.compare_data[1].mediafiles[0].media_type == 'audio'" src="{{this.ongoingData.compare_data[1].mediafiles[0].file_path}}" alt="" style="width: 500px; height: 200px;border-radius: 5px;"></audio>
                            <div *ngIf="this.ongoingData.compare_data[1].mediafiles[0].media_type == 'link' || this.ongoingData.compare_data[1].mediafiles[0].media_type == 'text'" style="height: 200px;border-radius: 5px;background:#e2e2e2; padding:10px;">{{this.ongoingData.compare_data[1].mediafiles[0].filename}}</div>
                            <div style="display: flex; justify-content: right; margin-top: -44px;">
                                <div style=" width: 60px; height: 60px; background: #fff; border-radius: 50%; padding: 14px;margin-right: 14px; border: 1px solid #e2e2e2; box-shadow: 0px 3px 0px 1px #e2e2e2;">
                                    <img src="../assets/icon/04.png" alt="" style="width: 50px;height: 30px;">
                                </div>
                            </div>
                            <div style="display: flex; justify-content: start; ">
                                <img src="../assets/icon/profile/user.png" alt="" style="width: 40px; height: 40px; border-radius: 50%">
                                <div style="padding-left: 10px; display: inline-grid;">
                                    <span style="font-size: 13px;">{{this.ongoingData.compare_data[1].name}}</span>
                                    <span style="font-size: 10px;color: #7c7070;">{{this.ongoingData.compare_data[1].email}}</span>
                                </div>
                            </div>
                            <div>
                                <p>{{this.ongoingData.compare_data[1].mediafiles[0].sub_caption}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="display: flex; justify-content: space-between;">
                    <p>15m</p>
                    <img src="../assets/icon/likes.png" alt="" style="width: 40px; height: 40px; margin-left: 13px;">
                </div>
                <div style="display: flex; justify-content: space-between; padding-left: 45px;">
                    <p>18m</p>
                    <img src="../assets/icon/share.png" alt="" style="width: 40px; height: 40px; margin-left: 13px;">
                </div>
            </div>

        </div>
        <div style="display: flex; justify-content: center;background: #cec9ce; height: 78px; margin: auto; padding-top: 17px;">
            <img src="../assets/icon/03.png" alt="" style="width: 20px; height: 20px">
            <span style="padding-left: 10px; font-size: 14px;">01:03:01/3:hrs</span>
        </div>
        <p style="text-align: right; margin-top: -30px; margin-right: 10px;">3 hrs ago</p>
    </div>


</ion-content>