<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button style="color: white" icon="chevron-back"></ion-back-button>
      </ion-buttons>
    <ion-title style="margin-left: -60px;">GROUP MEMBERS</ion-title>
  </ion-toolbar>
</ion-header>

<!-- PAGE CONTENT SECTION  -->
<ion-content [fullscreen]="true">
  <div style="background-color: #f3f9f9; padding: 15px; height: 100%; overflow: scroll;">
    <div style="float: right;">
      <ion-buttons>
        <img src="../../assets/icon/chat-message/settings-black.png" alt="" class="logo-img">
      </ion-buttons>
    </div>

    <div class="logo-header">
      <div style="text-align: center; padding-bottom: 10px;">
        <img src="../../assets/icon/chat-message/logo-warr.png" alt="" class="logo-warr">
        <h3>IMatch Warriors</h3>
        <p>Total Members 24</p>
      </div>
    </div>

    <!-- COLOR BOXES ONE -->
    <div style="background-color: #ffffff; padding: 10px;">
      <div class="color-header">
        <div class="color-top-box1">
          <p style="font-size: 11px;">Dominika Faniz</p>
        </div>
        <div class="color-top-box2">
          <p style="font-size: 11px;">Dominika Faniz</p>
        </div>
      </div>
      
      <div class="box-body">
        <div style="display: flex; align-items: center; width: 49%; padding: 8px 0px; border-right: 1px solid #aab2b3;">
          <img src="../../assets/icon/chat-message/man1.png" alt="" style="border: 1px solid #f1b338; width: 30px; height: 30px; border-radius: 50%;">
          <div style="margin-left: 5px;">
            <p>Number of messages: 130</p>
            <p>Joined: 02 May 2020</p>
          </div>
        </div>
        <div style="display: flex; align-items: center;">
          <img src="../../assets/icon/chat-message/man1.png" alt="" style="border: 1px solid #f1b338; width: 30px; height: 30px; border-radius: 50%;">
          <div style="margin-left: 5px;">
            <p>Number of messages: 130</p>
            <p>Joined: 02 May 2020</p>
          </div>
        </div>
      </div>

    </div>

    <!-- COLOR BOXES TWO -->
    <div style="background-color: #ffffff; padding: 10px;">
      <div class="color-header">
        <div class="color-top-box1" style="background-image: url('../../assets/icon/chat-message/grey.png');">
          <p style="font-size: 11px;">Linnie Craig</p>
        </div>
        <div class="color-top-box2" style="background-image: url('../../assets/icon/chat-message/blak.png');">
          <p style="font-size: 11px;">Pritty Kavitha</p>
        </div>
      </div>
      
      <div class="box-body">
        <div style="display: flex; align-items: center; width: 49%; padding: 8px 0px; border-right: 1px solid #aab2b3;">
          <img src="../../assets/icon/chat-message/man1.png" alt="" style="border: 1px solid #f1b338; width: 30px; height: 30px; border-radius: 50%;">
          <div style="margin-left: 5px;">
            <p>Number of messages: 130</p>
            <p>Joined: 02 May 2020</p>
          </div>
        </div>
        <div style="display: flex; align-items: center;">
          <img src="../../assets/icon/chat-message/man1.png" alt="" style="border: 1px solid #f1b338; width: 30px; height: 30px; border-radius: 50%;">
          <div style="margin-left: 5px;">
            <p>Number of messages: 130</p>
            <p>Joined: 02 May 2020</p>
          </div>
        </div>
      </div>
    </div>

      <!-- COLOR BOXES THREE -->
      <div style="background-color: #ffffff; padding: 10px;">
        <div class="color-header">
          <div class="color-top-box1" style="background-image: url('../../assets/icon/chat-message/yellow.png');">
            <p style="font-size: 11px;">Warron Anderson</p>
          </div>
          <div class="color-top-box2" style="background-image: url('../../assets/icon/chat-message/red.png');">
            <p style="font-size: 11px;">Jason Peter</p>
          </div>
        </div>
        
        <div class="box-body">
          <div style="display: flex; align-items: center; width: 49%; padding: 8px 0px; border-right: 1px solid #aab2b3;">
            <img src="../../assets/icon/chat-message/man1.png" alt="" style="border: 1px solid #f1b338; width: 30px; height: 30px; border-radius: 50%;">
            <div style="margin-left: 5px;">
              <p>Number of messages: 130</p>
              <p>Joined: 02 May 2020</p>
            </div>
          </div>
          <div style="display: flex; align-items: center;">
            <img src="../../assets/icon/chat-message/man1.png" alt="" style="border: 1px solid #f1b338; width: 30px; height: 30px; border-radius: 50%;">
            <div style="margin-left: 5px;">
              <p>Number of messages: 130</p>
              <p>Joined: 02 May 2020</p>
            </div>
          </div>
        </div>
      </div>

  </div>
</ion-content>