<ion-content style="text-align: center; --background: #707072;">

  <div style="padding: 10px; color: white;">

    <div style="border: 1px solid white; padding: 5px;">

      <p>Are you sure , You want to </p>
      <p style="font-weight: 600;">LOGOUT ?</p>
  
      <div>
        <ion-button style="width: 105px; text-transform: none; font-weight: 600;" (click)="toCancel($event)">Cancel</ion-button>
        <ion-button style="width: 105px; text-transform: none; --background: #fcbb3b; color: black; font-weight: 600;" (click)="toOkay($event)">Okay</ion-button>
      </div>

    </div>

  </div>

</ion-content>
