.check-box{
    --checkmark-color: #2dd36f;
    --background-checked: white;
    --checkmark-width: 5px;
    --border-radius: 3px;
    --border-width: 1.5px;
    position: absolute;
    margin-left: 19px;
}