.be-a-fan-text {
    position: absolute;
    left: 95px;
    top: 40px;
    background-color: #afafaf5c;
    height: 22px;
    padding-left: 5px;
    padding-top: 2px;
    width: 60px;
    font-size: 12px;
    font-weight: 600;
    color: #39393cad;
    border-radius: 5px;
}
.top-search-icon{
    position: absolute;
    right: 30px;
    color: white;
    font-size: 1.5rem;
}
.item-styles{
    border-left: 5px solid #bcbcbc;
    border-radius: 10px;
    padding: 3px;
    margin: 17px;
    border-bottom: 1px solid #ccccce;
    box-shadow: 1px 1px #ccccce;
    border-top: 1px solid #80808038;
}