<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button style="color: white" icon="chevron-back"></ion-back-button>
      </ion-buttons>
      <ion-title>BLOG
        <!-- <img src="../../assets/icon/blog/search.png" alt=""> -->
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <div class="container" scrollX="true">
      <img src="../../assets/icon/blog/bicycle-downhill-sunset.jpg" alt="" style="border-radius: 6px; height: 235px; width: -webkit-fill-available;">
      <div class="text-container">
        <p class="text-heading">Holiday to Alpine</p>
        <p class="text-para">How to make your holiday in Alpine memorable</p>
        <p class="page-text">PAGE 1</p>
      </div>
  
      <div class="text-container-second">
        <p class="text-heading">Holiday to Alpine</p>
        <p class="text-para">How to make your holiday in Alpine memorable</p>
        <p class="page-text">PAGE 1</p>
      </div>
  
      <div class="text-container-third">
        <p class="text-heading">Holiday to Alpine</p>
        <p class="text-para">How to make your holiday in Alpine memorable</p>
        <p class="page-text">PAGE 1</p>
      </div>
  
      <div class="bottom-container">
        <ion-item lines="none" style=" width: 320px; --padding-start: 0px;">
          <img src="../../assets/icon/blog/pages1.png" alt="" style=" height: 45px; width: 45px;">
          <p style=" font-size: 10px; font-weight: 600; margin-left: 1px;">DEC 15 2020</p>
          <p slot="end" style="font-size: 11px; font-weight: 600; margin-left: 33px; margin-right: 5px; position: relative; left: 60px;">VOTE</p>
          <img src="../../assets/icon/blog/hand.png" alt="" slot="end" class="hand-img">
          <img src="../../assets/icon/blog/hand1.png" alt="" slot="end" class="hand1-img">
        </ion-item>
  
        <ion-item lines="none" style=" --padding-start: 0px; ">
          <img src="../../assets/icon/blog/1.jpg" alt="" class="person-img">
          <p style=" font-weight: 600; font-size: 12.5px; ">James Albert</p>
          <img src="../../assets/icon/blog/clock.png" alt="" slot="end" class="clock-img">
          <p slot="end" style=" color: grey; font-size: 13px; ">2 days ago</p>
        </ion-item>
  
        <h4>Holiday to Alpine</h4>
        <p class="content">Contrary to popular belief, Lorem Ipsum is not simply random text. 
          It has roots in a piece of ...</p>
        
          <ion-item lines="none" style=" position: relative; bottom: 20px; ">
            <img src="../../assets/icon/blog/heart.png" alt="" style=" height: 19px; width: 22px; margin-right: 5px; ">
            <p class="count-text">10k</p>
            <img src="../../assets/icon/blog/comment.png" alt="" style="height: 17px; width: 19px; margin-right: 5px;">
            <p class="count-text">100k</p>
          </ion-item>
  
      </div>
  
  
    </div>
  
    <ion-item lines="none" style=" width: 365px; position: relative; bottom: 80px; ">
      <h3>Popular</h3>
      <ion-button shape="round" size="small" slot="end" class="show-all-button">Show All</ion-button>
    </ion-item>
  
  
    <div class="container-sub">
  
      <ion-row>
  
        <ion-col>
          <img src="../../assets/icon/blog/trvl4.jpg" alt="" style=" height: 90px; width: 97px; border-radius: 6px; ">
        </ion-col>
  
        <ion-col>
          <div class="content-container">
            <h6 style=" font-size: 15px; font-weight:600; margin-left: 5px; ">Most Awaited - Figma Launches new Pugin</h6>
            <ion-item lines="none" style=" float: right; height: 30px; position: relative; bottom: 30px; left: 10px; ">
            </ion-item>
  
            <ion-item lines="none" style=" width: max-content; position: relative; bottom: 30px; height: 40px; ">
              <img src="../../assets/icon/blog/heart.png" alt="" style=" height: 13px; width: 15px; margin-right: 4px; ">
              <p style=" font-size: 12px; margin-right: 20px; color: grey; ">1k</p>
              <img src="../../assets/icon/blog/comment.png" alt="" style=" height: 14px; width: 16px; margin-right: 4px; ">
              <p style=" font-size: 12px; margin-right: 54px; color: grey; ">20</p>
              <img src="../../assets/icon/blog/clock.png" alt="" style=" height: 12px; width: 13px; margin-right: 4px; ">
              <p style=" font-size: 12px; color: grey; ">14 sec ago</p>
            </ion-item>
          </div>
        </ion-col>
  
      </ion-row>
      
    </div>
  
  
    <div class="container-sub">
  
      <ion-row>
  
        <ion-col>
          <img src="../../assets/icon/blog/trvl4.jpg" alt="" style=" height: 90px; width: 97px; border-radius: 6px; ">
        </ion-col>
  
        <ion-col>
          <div class="content-container">
            <h6 style=" font-size: 15px; font-weight:600; margin-left: 5px; ">Most Awaited - Figma Launches new Pugin</h6>
            <ion-item lines="none" style=" float: right; height: 30px; position: relative; bottom: 30px; left: 10px; ">
            </ion-item>
  
            <ion-item lines="none" style=" width: max-content; position: relative; bottom: 30px; height: 40px; ">
              <img src="../../assets/icon/blog/heart.png" alt="" style=" height: 13px; width: 15px; margin-right: 4px; ">
              <p style=" font-size: 12px; margin-right: 20px; color: grey; ">1k</p>
              <img src="../../assets/icon/blog/comment.png" alt="" style=" height: 14px; width: 16px; margin-right: 4px; ">
              <p style=" font-size: 12px; margin-right: 54px; color: grey; ">20</p>
              <img src="../../assets/icon/blog/clock.png" alt="" style=" height: 12px; width: 13px; margin-right: 4px; ">
              <p style=" font-size: 12px; color: grey; ">14 sec ago</p>
            </ion-item>
          </div>
        </ion-col>
  
      </ion-row>
      
    </div>
  
  
    <div class="container-sub">
  
      <ion-row>
  
        <ion-col>
          <img src="../../assets/icon/blog/trvl4.jpg" alt="" style=" height: 90px; width: 97px; border-radius: 6px; ">
        </ion-col>
  
        <ion-col>
          <div class="content-container">
            <h6 style=" font-size: 15px; font-weight:600; margin-left: 5px; ">Most Awaited - Figma Launches new Pugin</h6>
            <ion-item lines="none" style=" float: right; height: 30px; position: relative; bottom: 30px; left: 10px; ">
            </ion-item>
  
            <ion-item lines="none" style=" width: max-content; position: relative; bottom: 30px; height: 40px; ">
              <img src="../../assets/icon/blog/heart.png" alt="" style=" height: 13px; width: 15px; margin-right: 4px; ">
              <p style=" font-size: 12px; margin-right: 20px; color: grey; ">1k</p>
              <img src="../../assets/icon/blog/comment.png" alt="" style=" height: 14px; width: 16px; margin-right: 4px; ">
              <p style=" font-size: 12px; margin-right: 54px; color: grey; ">20</p>
              <img src="../../assets/icon/blog/clock.png" alt="" style=" height: 12px; width: 13px; margin-right: 4px; ">
              <p style=" font-size: 12px; color: grey; ">14 sec ago</p>
            </ion-item>
          </div>
        </ion-col>
  
      </ion-row>
      
    </div>
  
  
    <div class="container-sub">
  
      <ion-row>
  
        <ion-col>
          <img src="../../assets/icon/blog/trvl4.jpg" alt="" style=" height: 90px; width: 97px; border-radius: 6px; ">
        </ion-col>
  
        <ion-col>
          <div class="content-container">
            <h6 style=" font-size: 15px; font-weight:600; margin-left: 5px; ">Most Awaited - Figma Launches new Pugin</h6>
            <ion-item lines="none" style=" float: right; height: 30px; position: relative; bottom: 30px; left: 10px; ">
            </ion-item>
  
            <ion-item lines="none" style="     width: max-content; position: relative; bottom: 30px; height: 40px;">
              <img src="../../assets/icon/blog/heart.png" alt="" style=" height: 13px; width: 15px; margin-right: 4px; ">
              <p style=" font-size: 12px; margin-right: 20px; color: grey; ">1k</p>
              <img src="../../assets/icon/blog/comment.png" alt="" style=" height: 14px; width: 16px; margin-right: 4px; ">
              <p style=" font-size: 12px; margin-right: 54px; color: grey; ">20</p>
              <img src="../../assets/icon/blog/clock.png" alt="" style=" height: 12px; width: 13px; margin-right: 4px; ">
              <p style=" font-size: 12px; color: grey; ">14 sec ago</p>
            </ion-item>
          </div>
        </ion-col>
  
      </ion-row>
      
    </div>
  
  </ion-content>
  