<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title style="position: relative; right: 20px;">VISITORS OPEN MATCH</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="top-icons-container">
    <ion-row>
      <ion-col class="col-icon" (click)="GetIconSearch('image')">
        <img src="../../assets/icon/img.png" alt="" style="height: 17px;width: 15px;">
      </ion-col>

      <ion-col class="col-icon"(click)="GetIconSearch('video')">
        <img src="../../assets/icon/vid.png" alt="" style="height: 17px;width: 15px;">
      </ion-col>

      <ion-col class="col-icon" (click)="GetIconSearch('audio')">
        <img src="../../assets/icon/aud.png" alt="" style="height: 17px;width: 15px;">      
      </ion-col>

      <ion-col class="col-icon" (click)="GetIconSearch('attachment')">
        <img src="../../assets/icon/attach.png" alt="" style="height: 17px;width: 15px;">
      </ion-col>

      <ion-col style="border: 1px solid #bebebf; border-radius: 5px;" (click)="GetIconSearch('link')">
        <img src="../../assets/icon/link.png" alt="" style="height: 17px;width: 15px;">
      </ion-col>
    </ion-row>
  </div>

  <ion-slides pager="true" #slides>

    <!-- slide starts here -->
  <ion-slide *ngFor="let match of openMatches; let i=index;" class="animate__animated animate__flipInY">

  <div style=" margin: 10px;box-shadow: 1px 1px 10px 0px;padding: 5px;margin-top: 0px !important;border-radius: 3px; border-top: 2px solid #80808078 ; margin-bottom: 35px;">

    <div style=" display: flex; ">

      <div>

        <div>
          <img [src]="match.receiver_image" alt="" style=" border-radius: 7px; height: 255px; width: 195px; ">
        </div>

        <div style="position: relative;bottom: 6%">
          <img [src]="match.receiver_profile" alt="" style=" border-radius: 50%; height: 40px; width: 40px; float: left; border: 1px solid;">
          <p style=" font-size: 14px; margin-top: 25px; font-weight: 600; position: relative; left: 10px; text-align: left;">{{match.receiver_name}}</p>
          <!-- <span style=" font-size: 10px; position: relative; bottom: 20px; color: grey;">{{match.receiver_email}}</span> -->
        </div>

        <h6 style="font-size: 16px !important; margin: 0px 6px !important;position: relative;bottom: 25px;">{{match.description}}</h6>

      </div>

      <div style=" padding: 3px; "></div>

      <div style=" position: absolute; height: 30px; top: 20%; right: 46%; ">
        <img src="../../assets/icon/vs.png" alt="">
      </div>

      <div>

        <div>
          <img [src]="match.sender_image" onerror="this.src='../../assets/icon/mixed-icons.jpg';" alt=""  style=" border-radius: 7px; height: 255px; width: 195px; ">
        </div>

        <div style="position: relative;bottom: 6%">
          <img [src]="match.sender_profile" onerror="this.src='../../assets/icon/mixed-icons.jpg';" alt="" style="border-radius: 50%; height: 40px; width: 40px; float: left; border: 1px solid;">
          <p style="font-size: 14px; margin-top: 25px; font-weight: 600; position: relative; left: 10px; text-align: left;">{{match.sender_name}}</p>
          <!-- <span style="font-size: 10px; position: relative; bottom: 20px;  color: grey;">{{match.sender_email}}</span> -->
        </div>
        <h6 style="font-size: 16px !important; margin: 0px 6px !important;position: relative;bottom: 25px;">{{match.description}}</h6>

      </div>

    </div>

    <div style="display: flex;position: relative;left: 18%;">
      <div>
        <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; ">
        <span style="margin-left: 10px; position: relative; bottom: 5px;">{{match.receiver_likecount}}</span>
      </div>

      <div style="position: relative;left: 40%;">
        <img src="../../assets/icon/shoot.png" alt="" style=" width: 29px;height: 25px; margin-top: 10px; ">
        <span style="margin-left: 10px; position: relative; bottom: 5px;">{{match.sender_likecount}}</span>
      </div>

    </div>

    <div style="display: flex; position: relative;left: 35%;top: 15px;">

      <div style="margin-left: 20px;">
        <span style="font-weight: 600; font-size: 15px; position: relative; bottom: 11px;"> {{match.total_comment}} </span>
        <img src="../../assets/icon/02.png" alt="" style="height: 27px; width: 30px; margin-left: 11px;" (click)="gotoOpenMatchComments($event,match)">
      </div>
    </div>

    <div style="background-color: #8080803d;padding:23px 0px 15px 0px;margin: 45px -5px -5px;">
      <div style="position: relative;bottom: 45px;background-color: white;width: 35px;height: 35px;border-radius: 50%;box-shadow: 0.5px 0.5px 5px 0px grey;left: 35px;">
        <img src="../../assets/icon/03.png" alt="" style="height: 22px;margin-top: 6px;" (click)="toShowMatchHistory($event,match)">
      </div>

      <div style="display: flex; position: relative;bottom: 35px;margin-left: 10px;">

        <div style="height: 45px;margin-left: 20px;">
        <p style="margin: 0px !important;font-weight: 600;"> {{match.agree_count}} </p>
          <img src="../../assets/icon/01.png" alt="" (click)="toLikeOpenMatch($event,match)">
          <p style="color: grey; margin: 0px !important;position: relative;bottom: 3px;font-size: 13px;">i Agree</p>
        </div>

        <div style="height: 45px;margin-left: 55px;">
          <p style="margin: 0px !important;font-weight: 600;"> {{match.disagree_count}} </p>
          <img src="../../assets/icon/01a.png" alt="" (click)="toDisLikeOpenMatch($event,match)">
          <p style="color: grey; margin: 0px !important;position: relative;bottom: 3px;font-size: 13px;">i Disagree</p>
        </div>

        <div style="height: 40px;margin-left: 55px;position: relative;top: 15px">
          <img src="../../assets/icon/02.png" alt="" (click)="toCommentOpenMatch($event,match)">
          <span style="position: relative;bottom: 19px;margin-left: 5px;font-weight: 600;"> {{match.total_commoncomments}} </span>
        </div>

      </div>

    </div>
  </div>

</ion-slide>
<!-- slide ends here -->

</ion-slides>

</ion-content>
