<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button style="color: white" icon="chevron-back"></ion-back-button>
        </ion-buttons>
        <ion-title style="position: relative; right: 25px;">ONGOING MATCH</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-content>

        <div style="text-align: center; padding: 50px;" *ngIf="this.ongoingDetails.length == 0">
            <div>
                <img src="../../assets/icon/landing/splash.jpg" alt="" style="height: 300px; width: 290px; border-radius: 50%; border: 15px solid #9E9E9E;">
            </div>

            <div>
                <h4>Currently You Are Having No Ongoing Matches</h4>
            </div>
        </div>

        <!-- Slide Starts Here -->

        <div style="padding: 10px;" *ngFor="let onGoingMatch of this.ongoingDetails; let i = index;">
            <div (click)='goDetail(onGoingMatch.matchid)' style="border-top: 10px solid #f21908; border-radius: 13px 13px 5px 5px; box-shadow: 1px 1px 5px 1px grey; background-color: #f21908;">

                <div style="padding: 15px; border-radius: 13px 13px 5px 5px; background-color: white;">
                    <div style="display: flex; justify-content: space-between;">

                        <div>
                            <h5 style="font-weight: 600;">{{onGoingMatch.caption}}</h5>
                            <span>{{onGoingMatch.description}}</span>
                            <p style="margin: 0px; font-weight: 100; font-size: 13px;">{{onGoingMatch.created_at}}</p>
                        </div>
                        <div style="text-align: center;">
                            <img src="../../assets/icon/help-invitation-terms/bar.png" alt="" style="width:160px">
                        </div>
                    </div>

                    <div style="border-top: 1px solid #e2e2e2;">
                        <div style="display:flex; justify-content: space-between;">
                            <div style="display:flex; justify-content: start;">
                                <div *ngFor="let user of onGoingMatch.compare_data; let j = index;" style=" padding: 10px;">
                                    <div style="display: flex; justify-content: center;">
                                        <img src="../../assets/icon/profile/user.png" alt="" style="height: 55px; width: 55px; border-radius: 50%; border: 1px solid #707070">
                                    </div>
                                    <p style="margin: 0px; font-weight: 600; font-size: 13px;align-text:content">{{user.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </div>

    </ion-content>

</ion-content>