.content-container {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px;
    padding: 10px;
    justify-content: space-between;
    background-color: #9e9e9e73;
    border-radius: 5px;
}