<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/besties" style="color: white" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title style="position: relative; right: 20px;">SETTINGS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="padding: 5px; box-shadow: 1px 1px 5px 1px grey; border-radius: 5px; margin: 15px;">
    <div class="ion-activatable ripple-parent">
      <ion-icon name="notifications-outline"></ion-icon>
      <span>Notifications</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </div>
    <div class="content-container ; ion-activatable ripple-parent">
      <ion-icon name="notifications-outline"></ion-icon>
      <span>Notifications</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </div>
    <div class="content-container ; ion-activatable ripple-parent">
      <ion-icon name="notifications-outline"></ion-icon>
      <span>Notifications</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </div>
    <div class="content-container ; ion-activatable ripple-parent">
      <ion-icon name="notifications-outline"></ion-icon>
      <span>Notifications</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </div>
    <div class="content-container ; ion-activatable ripple-parent">
      <ion-icon name="notifications-outline"></ion-icon>
      <span>Notifications</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </div>
  </div>

</ion-content>
